tibcoAPI/Service Descriptors/de-ldap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (x64) (http://www.altova.com) by Kevin Gee (Tibco Software Ltd) --><xs:schema xmlns="http://ldap.api.de.n2.tibco.com" xmlns:de="http://base.api.de.bpm.tibco.com" xmlns:orgdto="http://api.organisation.common.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ldap.api.de.n2.tibco.com" version="1.0">

    <xs:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="organisation.xsd"/>
    <xs:import namespace="http://base.api.de.bpm.tibco.com" schemaLocation="de-base.xsd"/>

	<xs:annotation>
		<xs:documentation>
  A note on the naming conventions used:
  Element types from which Java classes are generated should be named using the
  same convention as Java classes (i.e. camel-casing). They should also have the
  prefix "Xml" in order to avoid any conflict with any POJO classes of the same
  name.
  Attributes, and the name of sub-elements, are in lower-case, with hyphens used
  to separate words. For example, "first-name", "primary-attribute" and "parent-id".
  Sub-element names should also be singular; e.g. "child" and not "children",
  "property" and not "properties".
   </xs:documentation>
	</xs:annotation>

	<xs:complexType name="XmlLdapContainerMapping">
		<xs:annotation>
			<xs:documentation>Definition of a foreign key mapping between the primary LDAP source and a secondary LDAP
            source for an LDAP container.
            Each element names an attribute within each LDAP source that, for a given entry in each LDAP source, holds
            the same value and thus provides an association between the two entries.
            In order to uniquely identify an entry in each LDAP source many of these elements may be required, naming
            several attributes in each LDAP source.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="primary-attribute" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The LDAP attribute in the primary LDAP source that is to be mapped to the LDAP attribute in the secondary LDAP source (name in the secondary-attribute).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="secondary-attribute" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The LDAP attribute in this secondary LDAP source that is to be mapped to from the LDAP attribute in the primary LDAP source (named in the primary-attribute)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="XmlLdapAttributeContainerMapping">
		<xs:annotation>
			<xs:documentation>Mapping between a resource (or business) attribute, which is defined in the organization model and identified by its GUID, and an LDAP attribute, which is identified by its LDAP container resource GUID and the attribute name.
The "ldap-resource-id" attribute links the entry to its parent XmlLdapContainerResource element (via the "id" attribute of that element).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ldap-resource-id" type="xs:long" use="required">
			<xs:annotation>
				<xs:documentation>ID (within this enclosing XmlLdapContainer element) of the LDAP source that contains the named LDAP Attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="business-attribute-id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The GUID of the business attribute (Resource Attribute) as defined in the organization model.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ldap-attribute" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>LDAP attribute that is to be mapped to the identified business attribute. Whenever a value is required for the business attribute, it will be provided by this LDAP attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

    <xs:complexType name="XmlLdapSource">
		<xs:annotation>
			<xs:documentation>Definition of an LDAP shared resource entry (identified by its GUID) in an LDAP container.

The "id" attribute is used to link this element to the "ldap-resource-id" attribute of the XmlLdapAttributeContainerMapping entries in the XmlLdapContainer in which this element is located. (A value should always be assigned to the "id" attribute.)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:long" use="required">
			<xs:annotation>
				<xs:documentation>Unique ID of the LDAP source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="guid" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Unique GUID of the LDAP source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ldap-alias" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Alias of the LDAP directory that is referenced by this LDAP source. The alias is a previously configured shared resource that identifies this LDAP source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
        <xs:attribute name="display-name-attributes" type="xs:string" use="optional">
			<xs:annotation>
                <xs:documentation>(Optional) LDAP attributes that can be used to generate a default display name for any resource located within this LDAP source.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
    </xs:complexType>

    <xs:complexType name="XmlLdapContainerResource">
			<xs:annotation>
            <xs:documentation>Definition of an LDAP shared resource entry (identified by its GUID) in an LDAP container.

The "id" attribute is used to link this element to the "ldap-resource-id" attribute of the XmlLdapAttributeContainerMapping entries in the XmlLdapContainer in which this element is located. (A value should always be assigned to the "id" attribute.)</xs:documentation>
			</xs:annotation>
        <xs:complexContent>
          	<xs:extension base="XmlLdapSource">
		        <xs:attribute name="ldap-search-string" type="xs:string" use="optional">
		            <xs:annotation>
		                <xs:documentation>(Optional) LDAP query expression that can be used to restrict the data that is returned from this LDAP source.</xs:documentation>
		            </xs:annotation>
		</xs:attribute>
		<xs:attribute name="base-dn" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Optionally provides an additional base DN that will be used to restrict the results. This base DN is relative, and in additon, to any base DN specified in the URL of the LDAP Connection shared resource identified by the ldap-alias.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
			</xs:extension>
        </xs:complexContent>
	</xs:complexType>

	<xs:complexType name="XmlSecondaryLdapContainerResource">
		<xs:annotation>
			<xs:documentation>Extension of XmlLdapContainerResource, which identifies a secondary LDAP shared resource entry within an LDAP container. 

An LDAP container can hold a single primary LDAP source and any number of secondary LDAP sources. Secondary LDAP sources  hold "foreign-key" references that map their entries to those of the primary LDAP source by named attribute values.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlLdapContainerResource">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="container-mapping" type="XmlLdapContainerMapping">
						<xs:annotation>
							<xs:documentation>Definition of how this secondary LDAP source is mappped to the primary LDAP source. The mapping will allow an attribute's value in the primary LDAP source to map to an attribute's value in the secondary LDAP source.

For example, suppose a resource has an entry of "UID=Clint Hill" in the primary LDAP source, and is uniquely identified in the secondary LDAP source as "CN=Clint Hill". The mappping would map the "UID" attribute in the primary LDAP source to the "CN" attribute in the secondary LDAP source.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="XmlLdapGroupSource">
        <xs:annotation>
            <xs:documentation>Definition of an LDAP shared resource entry (identified by its GUID) in an LDAP container. This definition is for an LDAP Source that locates Resources from an LDAP Group.

The "id" attribute is used to link this element to the "ldap-resource-id" attribute of the XmlLdapAttributeContainerMapping entries in the XmlLdapContainer in which this element is located. (A value should always be assigned to the "id" attribute.)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
          	<xs:extension base="XmlLdapSource">
		        <xs:attribute name="group-dn" type="xs:string" use="required">
		            <xs:annotation>
		                <xs:documentation>The Group DN uniquely identifies the directory entry that is the group. This can be derived by performing a search based upon the base-DN, search filter and scope parameters described above. Or, it can be manually entered (with verification) by the user.</xs:documentation>
		            </xs:annotation>
		        </xs:attribute>
		        <xs:attribute name="member-attribute" type="xs:string" use="required">
		            <xs:annotation>
		                <xs:documentation>The member attribute names the attribute within the group entry that holds the collection of member idenifiers - their DNs. This will give the final list of candidate resources.</xs:documentation>
		            </xs:annotation>
		        </xs:attribute>
			</xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="XmlSecondaryLdapGroupSource">
        <xs:annotation>
            <xs:documentation>Extension of XmlLdapGroupSource, which identifies a secondary LDAP shared resource entry within an LDAP container. 

An LDAP container can hold a single primary LDAP source and any number of secondary LDAP sources. Secondary LDAP sources  hold "foreign-key" references that map their entries to those of the primary LDAP source by named attribute values.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="XmlLdapGroupSource">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="container-mapping" type="XmlLdapContainerMapping">
                        <xs:annotation>
                            <xs:documentation>Definition of how this secondary LDAP source is mappped to the primary LDAP source. The mapping will allow an attribute's value in the primary LDAP source to map to an attribute's value in the secondary LDAP source.

For example, suppose a resource has an entry of "UID=Clint Hill" in the primary LDAP source, and is uniquely identified in the secondary LDAP source as "CN=Clint Hill". The mappping would map the "UID" attribute in the primary LDAP source to the "CN" attribute in the secondary LDAP source.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="XmlLdapContainer">
		<xs:annotation>
			<xs:documentation>Definition of an LDAP container and any LDAP Source entries that it contains.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
        	<xs:choice maxOccurs="1" minOccurs="1">
			<xs:element name="primary-ldap" type="XmlLdapContainerResource">
				<xs:annotation>
					<xs:documentation>Definition of the primary LDAP source for this LDAP container.</xs:documentation>
				</xs:annotation>
			</xs:element>
	            <xs:element name="primary-group-ldap" type="XmlLdapGroupSource">
				<xs:annotation>
	                    <xs:documentation>Definition of the primary LDAP source for this LDAP container.</xs:documentation>
	                </xs:annotation>
	            </xs:element>
        	</xs:choice>
        	<xs:choice maxOccurs="unbounded" minOccurs="0">
	            <xs:element name="secondary-ldap" type="XmlSecondaryLdapContainerResource">
	                <xs:annotation>
					<xs:documentation>(Optional) Definition of a secondary LDAP source for this LDAP container. An LDAP container can have any number of secondary LDAP sources.


A secondary LDAP source provides the ability to retrieve some LDAP data from an alternative LDAP server. Named LDAP attributes are used to map the secondary LDAP source to the primary LDAP source.</xs:documentation>
				</xs:annotation>
			</xs:element>
	            <xs:element name="secondary-group-ldap" type="XmlSecondaryLdapGroupSource">
	                <xs:annotation>
	                    <xs:documentation>(Optional) Definition of a secondary LDAP source for this LDAP container. An LDAP container can have any number of secondary LDAP sources.
	
	
A secondary LDAP source provides the ability to retrieve some LDAP data from an alternative LDAP server. Named LDAP attributes are used to map the secondary LDAP source to the primary LDAP source.</xs:documentation>
	                </xs:annotation>
	            </xs:element>
        	</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="attribute-mapping" type="XmlLdapAttributeContainerMapping">
				<xs:annotation>
					<xs:documentation>(Optional) Definition of a mapping of an organization model business attribute to an LDAP attribute. This can be used to obtain business attribute values from an LDAP direectory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="administered-organisation" type="XmlAdministeredOrganisations">
				<xs:annotation>
					<xs:documentation>(Optional) Defines the list of organizations to which this container can map resources. If the organization is not in this list then this LDAP container can only be used to map users to organizations that have no restrictions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute default="0" name="id" type="xs:long" use="optional">
			<xs:annotation>
				<xs:documentation>Unique ID of the LDAP container.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Unique name of the LDAP container.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Description of the LDAP container.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="true" name="active" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Indicates if this container has been marked as deleted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="entity-count" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Only specified when this XmlLdapContainer is used in a service response. The count of the number of LDAP entries this container referenced. This count is set when the container is queried. The count may not be currently correct if the LDAP directory has been modified since the count was set.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="last-accessed" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Date and time on which the LDAP container was last queried, and the date on which the entity-count above was set.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

    <xs:complexType name="XmlCandidateQueryExport">
        <xs:annotation>
            <xs:documentation>Definition of a Candidate Query associated with the enclosing LDAP Container definition.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="entity-type" type="orgdto:OrganisationalEntityType" use="required">
            <xs:annotation>
                <xs:documentation>Enumerated value defining the type of the organization model entity.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="guid" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Globally unique ID of the organization model entity.
(Although this value is unique across all entities, if the entity exists within more than one major version, it will share the same GUID.)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base-dn" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Optionally provides a base DN that will be used to restrict the results. This base DN is relative, and in additon, to any base DN specified in the Primary LDAP Source on which the search will be performed.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="query" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The LDAP Query that will be combined with the query of the Primary LDAP Source to identify candidate Resources.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="search-scope" type="de:XmlLdapSearchScope" use="required">
            <xs:annotation>
                <xs:documentation>Enumerated value indicating the scope on which an LDAP search is to be performed.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute default="false" name="dynamic" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Indicates that this candidate query was generated as a part of a dynamic model generation.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="XmlLdapContainerExport">
        <xs:annotation>
            <xs:documentation>Definition of an LDAP container and any LDAP Source entries that it contains. Also includes any Candidate Query definitions associated with the LDAP Container.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="XmlLdapContainer">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="candidate-query" type="XmlCandidateQueryExport">
                        <xs:annotation>
                            <xs:documentation>The Candidate Query entries associated with this LDAP Container.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="XmlAdministeredOrganisations">
		<xs:annotation>
			<xs:documentation>Provides a list of organizations that can be administered from this LDAP container.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="guid" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Unique identifier of the organization to be administered.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string">
			<xs:annotation>
				<xs:documentation>Name of the organization to be administered. Only required when this element is used in a service response.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
