tibcoAPI/Service Descriptors/de.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Paul Raby (Tibco Software Limited) --><wsdl:definitions xmlns:admin="http://admin.api.de.n2.tibco.com" xmlns:dto="http://api.de.n2.tibco.com" xmlns:ex="http://exception.api.de.n2.tibco.com" xmlns:exporter="http://exporter.api.de.n2.tibco.com" xmlns:impl="http://services.de.n2.tibco.com" xmlns:ldap="http://ldap.api.de.n2.tibco.com" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://tibco.com/n2/directory-metamodel/1.0" xmlns:ns2="http://tibco.com/n2/directory-model/1.0" xmlns:ns3="http://exception.api.common.n2.tibco.com" xmlns:ns4="http://channeltype.common.n2.tibco.com" xmlns:ns5="http://admin.api.de.n2.tibco.com" xmlns:ns6="http://base.api.de.bpm.tibco.com" xmlns:orgdto="http://api.organisation.common.n2.tibco.com" xmlns:query="http://query.api.de.n2.tibco.com" xmlns:resolver="http://resolver.api.de.n2.tibco.com" xmlns:resourcequery="http://resourcequery.api.de.n2.tibco.com" xmlns:security="http://security.api.de.n2.tibco.com" xmlns:settings="http://usersettingsservice.api.de.n2.tibco.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DirectoryEngineService" targetNamespace="http://services.de.n2.tibco.com" tibex:src="file:/C:/Users/YSong/Downloads/public_api/de.wsdl">
	<wsdl:types>
		<!-- Exceptions -->
		<xs:schema targetNamespace="http://exception.api.de.n2.tibco.com">
			<xs:include schemaLocation="deexception.xsd"/>
		</xs:schema>
		<!-- Types -->
		<xs:schema targetNamespace="http://api.organisation.common.n2.tibco.com">
			<xs:include schemaLocation="organisation.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://ldap.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-ldap.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://api.de.n2.tibco.com">
			<xs:include schemaLocation="de.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://admin.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-admin-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://usersettingsservice.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-usersettings-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://container.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-container-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://mapping.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-mapping-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://exporter.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-exporter-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://resourcequery.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-resourcequery-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://ldapservice.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-ldap-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://security.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-security-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://attribute.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-attribute-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://browse.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-browse-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://resolver.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-resolver-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://query.api.de.n2.tibco.com">
			<xs:include schemaLocation="de-query-service.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="invalidEntityReferenceFault">
		<wsdl:part element="ex:InvalidEntityReferenceFault" name="invalidEntityReferenceFault"/>
	</wsdl:message>
	<wsdl:message name="internalServiceFault">
		<wsdl:part element="ex:InternalServiceFault" name="internalServiceFault"/>
	</wsdl:message>
	<wsdl:message name="invalidOrgModelVersionFault">
		<wsdl:part element="ex:InvalidOrgModelVersionFault" name="invalidOrgModelVersionFault"/>
	</wsdl:message>
	<wsdl:message name="getResourceDetailRequest">
		<wsdl:part element="resolver:getResourceDetail" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getResourceDetailResponse">
		<wsdl:part element="resolver:getResourceDetailResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="authenticateUserRequest">
		<wsdl:part element="security:authenticateUser" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="authenticateUserResponse">
		<wsdl:part element="security:authenticateUserResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="getUserPrivilegesRequest">
		<wsdl:part element="security:getUserPrivileges" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getUserPrivilegesResponse">
		<wsdl:part element="security:getUserPrivilegesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="invalidServiceRequestFault">
		<wsdl:part element="ex:InvalidServiceRequestFault" name="invalidServiceRequestFault"/>
	</wsdl:message>
	<wsdl:message name="saveUserSettingsRequest">
		<wsdl:part element="settings:saveUserSettingsRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="saveUserSettingsResponse">
		<wsdl:part element="settings:saveUserSettingsResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getUserSettingsRequest">
		<wsdl:part element="settings:getUserSettingsRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getUserSettingsResponse">
		<wsdl:part element="settings:getUserSettingsResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="deleteUserSettingsRequest">
		<wsdl:part element="settings:deleteUserSettingsRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="deleteUserSettingsResponse">
		<wsdl:part element="settings:deleteUserSettingsResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="listUserSettingIdsRequest">
		<wsdl:part element="settings:listUserSettingIdsRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="listUserSettingIdsResponse">
		<wsdl:part element="settings:listUserSettingIdsResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="listAssociatedResourcesRequest">
		<wsdl:part element="resolver:listAssociatedResources" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="listAssociatedResourcesResponse">
		<wsdl:part element="resolver:listAssociatedResourcesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="invalidLDAPContainerFault">
		<wsdl:part element="ex:InvalidLDAPContainerFault" name="invalidLDAPContainerFault"/>
	</wsdl:message>
	<wsdl:message name="internalDAOErrorFault">
		<wsdl:part element="ex:InternalDAOErrorFault" name="internalDAOErrorFault"/>
	</wsdl:message>
	<wsdl:message name="invalidEntityTypeFault">
		<wsdl:part element="ex:InvalidEntityTypeFault" name="invalidEntityTypeFault"/>
	</wsdl:message>
	<wsdl:message name="invalidResourceMappingFault">
		<wsdl:part element="ex:InvalidResourceMappingFault" name="invalidResourceMappingFault"/>
	</wsdl:message>
	<wsdl:message name="noUndeliveredGroupFault">
		<wsdl:part element="ex:NoUndeliveredGroupFault" name="noUndeliveredGroupFault"/>
	</wsdl:message>
	<wsdl:message name="exportResourcesRequest">
		<wsdl:part element="exporter:exportResourcesRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="exportResourcesResponse">
		<wsdl:part element="exporter:exportResourcesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="importResourcesRequest">
		<wsdl:part element="exporter:importResourcesRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="importResourcesResponse">
		<wsdl:part element="exporter:importResourcesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="executeQueryRequest">
		<wsdl:part element="resourcequery:executeQuery" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="executeQueryResponse">
		<wsdl:part element="resourcequery:executeQueryResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="noSuchNamedEntityFault">
		<wsdl:part element="ex:NoSuchNamedEntityFault" name="noSuchNamedEntityFault"/>
	</wsdl:message>
	<wsdl:message name="invalidModelImportFault">
		<wsdl:part element="ex:InvalidModelImportFault" name="invalidModelImportFault"/>
	</wsdl:message>
	<wsdl:message name="invalidQueryFault">
		<wsdl:part element="ex:InvalidQueryFault" name="invalidQueryFault"/>
	</wsdl:message>
	<wsdl:message name="isActionAuthorisedRequest">
		<wsdl:part element="security:isActionAuthorised" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="isActionAuthorisedResponse">
		<wsdl:part element="security:isActionAuthorisedResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="listActionAuthorisedEntitiesRequest">
		<wsdl:part element="security:listActionAuthorisedEntities" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="listActionAuthorisedEntitiesResponse">
		<wsdl:part element="security:listActionAuthorisedEntitiesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="securityFault">
		<wsdl:part element="ex:SecurityFault" name="securityFault"/>
	</wsdl:message>
	<wsdl:message name="assignmentNotAllowedFault">
		<wsdl:part element="ex:AssignmentNotAllowedFault" name="assignmentNotAllowedFault"/>
	</wsdl:message>
	<wsdl:message name="listAuthorisedOrgsRequest">
		<wsdl:part element="security:listAuthorisedOrgs" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="listAuthorisedOrgsResponse">
		<wsdl:part element="security:listAuthorisedOrgsResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="lookupUserRequest">
		<wsdl:part element="resolver:lookupUser" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="lookupUserResponse">
		<wsdl:part element="resolver:lookupUserResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="deleteOrphanReferencesRequest">
		<wsdl:part element="admin:deleteOrphanReferences" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="deleteOrphanReferencesResponse">
		<wsdl:part element="admin:deleteOrphanReferencesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="DirectoryEngineFault">
		<wsdl:part element="ex:DirectoryEngineFault" name="DirectoryEngineFault"/>
	</wsdl:message>
	<wsdl:message name="SecurityFault"/>
	<wsdl:message name="registerQueryRequest">
		<wsdl:part element="query:registerQuery" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="registerQueryResponse">
		<wsdl:part element="query:registerQueryResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="deregisterQueryRequest">
		<wsdl:part element="query:deregisterQuery" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="deregisterQueryResponse">
		<wsdl:part element="query:deregisterQueryResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="resetQueriesRequest">
		<wsdl:part element="query:resetQueries" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="resetQueriesResponse">
		<wsdl:part element="query:resetQueriesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="directoryEngineFault">
		<wsdl:part element="ex:DirectoryEngineFault" name="directoryEngineFault"/>
	</wsdl:message>
	<wsdl:message name="persistenceFault">
		<wsdl:part element="ex:PersistenceFault" name="persistenceFault"/>
	</wsdl:message>
	<wsdl:portType name="EntityResolverService">
		<wsdl:documentation>Get information about resources and their association with specific organization model entities.</wsdl:documentation>
		<wsdl:operation name="getResourceDetail">
			<wsdl:documentation>Get detailed information about one or more resources, including the groups, positions, capabilities, privileges and attributes associated with each resource. </wsdl:documentation>
			<wsdl:input message="impl:getResourceDetailRequest" name="getResourceDetailRequest">
				<wsdl:documentation>Request message (uses resolver:getResourceDetail element): Identifies the resource(s) for which details are required.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:getResourceDetailResponse" name="getResourceDetailResponse">
				<wsdl:documentation>Response message (uses resolver:getResourceDetailResponse element): Contains detailed descriptions of the requested resource(s).</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidEntityReferenceFault" name="InvalidEntityReferenceFault">
				<wsdl:documentation>Error message (uses ex:InvalidEntityReference element): The specified resource does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidOrgModelVersionFault" name="InvalidOrgModelVersionFault">
				<wsdl:documentation>Error message (uses ex:invalidOrgModelVersionFault element): The specified organization model version does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidServiceRequestFault" name="InvalidServiceRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidServiceRequest element): The request message has been incorrectly specified and is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listAssociatedResources">
			<wsdl:documentation>List the resources associated with one or more organization model entities.</wsdl:documentation>
			<wsdl:input message="impl:listAssociatedResourcesRequest" name="listAssociatedResourcesRequest">
				<wsdl:documentation>Request message (uses resolver:listAssociatedResources element): Specifies the organization model entities for which the associated resources are required.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:listAssociatedResourcesResponse" name="listAssociatedResourcesResponse">
				<wsdl:documentation>Response message (uses resolver:listAssociatedResourcesResponse element): Contains the details of the resources associated with the specified organization model entities.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:invalidEntityReferenceFault" name="InvalidEntityReferenceFault">
				<wsdl:documentation>Error message (uses ex:InvalidEntityReference element): The specified resource does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidOrgModelVersionFault" name="InvalidOrgModelVersionFault">
				<wsdl:documentation>Error message (uses ex:invalidOrgModelVersionFault element): The specified organization model version does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="lookupUser">
			<wsdl:documentation>List the resources that match a specified login name or LDAP DN.</wsdl:documentation>
			<wsdl:input message="impl:lookupUserRequest" name="lookupUserReqest">
				<wsdl:documentation>Request message (uses resolver:lookupUser element): Specifies the name and/or LDAP DN on which to search, and whether to return details of those users.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:lookupUserResponse" name="lookupUserResponse">
				<wsdl:documentation>Response message (uses resolver:lookupUserResponse element): Contains the number of users found that match the given criteria and, optionally, lists the details of those users.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:invalidServiceRequestFault" name="InvalidServiceRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidServiceRequest element): The request message has been incorrectly specified and is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SecurityService">
		<wsdl:documentation>Manage user authentication and authorization.</wsdl:documentation>
		<wsdl:operation name="authenticateUser">
			<wsdl:documentation>Authenticate a user's login name and password. (This operation has been deprecated and should no longer be used. It is only available for backward compatibility, and may be removed in a future release.)</wsdl:documentation>
			<wsdl:input message="impl:authenticateUserRequest" name="authenticateUserRequest">
				<wsdl:documentation>Request message (uses security:authenticateUser element): Specifies the login name and password that are to be authenticated.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:authenticateUserResponse" name="authenticateUserResponse">
				<wsdl:documentation>Response message (uses security:authenticateUserResponse element): Returns either a unique ID for a successfully authenticated user, or a message indicating a possible cause if authentication failed.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidServiceRequestFault" name="InvalidServiceRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidServiceRequest element): The request message has been incorrectly specified and is invalid.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserPrivileges">
			<wsdl:documentation>List the privileges currently assigned to a specific user.</wsdl:documentation>
			<wsdl:input message="impl:getUserPrivilegesRequest" name="getUserPrivilegesRequest">
				<wsdl:documentation>Request message (uses security:getUserPrivileges element): Specifies the unique ID of the user whose privileges should be listed.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:getUserPrivilegesResponse" name="getUserPrivilegesResponse">
				<wsdl:documentation>Response message (uses security:getUserPrivilegesResponse element): Lists the privileges currently assigned to the specified user.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:invalidServiceRequestFault" name="InvalidServiceRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidServiceRequest element): The request message has been incorrectly specified and is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidEntityReferenceFault" name="InvalidEntityReferenceFault">
				<wsdl:documentation>Error message (uses ex:InvalidEntityReference element): The specified organization model entity does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isActionAuthorised">
			<wsdl:documentation>Test whether the caller (as identified by the SOAP security header) is authorized to perform one or more system actions, either globally or within the scope of a particular organization model entity.</wsdl:documentation>
			<wsdl:input message="impl:isActionAuthorisedRequest" name="isActionAuthorisedRequest">
				<wsdl:documentation>Request message (uses security:isActionAuthorised element): Specifies the system actions to be tested for authorization and, optionally, an organization model entity that defines the scope of the test.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:isActionAuthorisedResponse" name="isActionAuthorisedResponse">
				<wsdl:documentation>Response message (uses security:isActionAuthorisedResponse element): Lists each requested system action, with its scope and whether the user is authorized to perform the system action.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:invalidEntityReferenceFault" name="InvalidEntityReferenceFault">
				<wsdl:documentation>Error message (uses ex:InvalidEntityReference element): The specified organization model entity does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidServiceRequestFault" name="InvalidServiceRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidServiceRequest element): The request message has been incorrectly specified and is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listActionAuthorisedEntities">
			<wsdl:documentation>List the organization model entities on which the caller (as determined by the SOAP security header) is authorized to perform a specific system action.</wsdl:documentation>
			<wsdl:input message="impl:listActionAuthorisedEntitiesRequest" name="listActionAuthorisedEntitiesRequest">
				<wsdl:documentation>Request message (uses security:listActionAuthorisedEntities element): Specifies the system action for which the caller's authorizations should be listed.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:listActionAuthorisedEntitiesResponse" name="listActionAuthorisedEntitiesResponse">
				<wsdl:documentation>Response message (uses security:listActionAuthorisedEntitiesResponse element): Lists the unique IDs of organization model entities on which the user is authorized to perform the requested system action.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault element): The specified system action does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidServiceRequestFault" name="InvalidServiceRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidServiceRequest element): The request message has been incorrectly specified and is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listAuthorisedOrgs">
			<wsdl:documentation>List the organizations on which the caller (as determined by the SOAP security header) is authorized to perform a specific system action.</wsdl:documentation>
			<wsdl:input message="impl:listAuthorisedOrgsRequest" name="listAuthorisedOrgsRequest">
				<wsdl:documentation>Request message (uses security:listAuthorisedOrgs element): Specifies the system action for which the caller's authorizations should be listed.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:listAuthorisedOrgsResponse" name="listAuthorisedOrgsResponse">
				<wsdl:documentation>Response message (uses security:listAuthorisedOrgsResponse element): Lists the unique IDs of organizations on which the user is authorized to perform the requested system action.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault element): The specified system action does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidServiceRequestFault" name="InvalidServiceRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidServiceRequest element): The request message has been incorrectly specified and is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="UserSettingsService">
		<wsdl:documentation>Manage user settings.</wsdl:documentation>
		<wsdl:operation name="saveUserSettings">
			<wsdl:documentation>Save one or more user settings (name/value pairs) for a specific storageKey and settingID.</wsdl:documentation>
			<wsdl:input message="impl:saveUserSettingsRequest" name="saveUserSettingsRequest">
				<wsdl:documentation>Request message (uses settings:saveUserSettingsRequest element): Specifies the user settings (name/value pairs) to be stored and the associated storageKey and settingID.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:saveUserSettingsResponse" name="saveUserSettingsResponse">
				<wsdl:documentation>Response message (uses settings:saveUserSettingsResponse element): Returns an empty document if the user settings were successfully stored.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserSettings">
			<wsdl:documentation>List the user settings (name/value pairs) currently defined for a specific storageKey and settingID.</wsdl:documentation>
			<wsdl:input message="impl:getUserSettingsRequest" name="getUserSettingsRequest">
				<wsdl:documentation>Request message (uses settings:getUserSettingsRequest element): Specifies the storageKey and settingID for which user settings should be listed.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:getUserSettingsResponse" name="getUserSettingsResponse">
				<wsdl:documentation>Response message (uses settings:getUserSettingsResponse element): Lists the user settings (name/value pairs) currently defined for the specified specific storageKey and settingID.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteUserSettings">
			<wsdl:documentation>Delete all user settings (name/value pairs) currently defined for a specific storageKey.</wsdl:documentation>
			<wsdl:input message="impl:deleteUserSettingsRequest" name="deleteUserSettingsRequest">
				<wsdl:documentation>Request message (uses settings:deleteUserSettingsRequest element): Specifies the storageKey for which user settings should be deleted.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:deleteUserSettingsResponse" name="deleteUserSettingsResponse">
				<wsdl:documentation>Response message (uses settings:deleteUserSettingsResponse element): Returns an empty document if the user settings were successfully deleted.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listUserSettingIds">
			<wsdl:documentation>List all user settingIDs currently defined for a specific storageKey.</wsdl:documentation>
			<wsdl:input message="impl:listUserSettingIdsRequest" name="listUserSettingIdsRequest">
				<wsdl:documentation>Request message (uses settings:listUserSettingsIdsRequest element): Specifies the storageKey for which user settingIDs should be listed.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:listUserSettingIdsResponse" name="listUserSettingIdsResponse">
				<wsdl:documentation>Response message (uses settings:listUserSettingsIdsResponse element): Lists the user settingIDs  currently defined for the specified storageKey.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ExporterService">
		<wsdl:documentation>Export and import defined LDAP containers, resource mappings and push destinations.</wsdl:documentation>
		<wsdl:operation name="exportResources">
			<wsdl:documentation>Export defined LDAP containers, resource mappings and push destinations, either for backup or for subsequent import to other environments.</wsdl:documentation>
			<wsdl:input message="impl:exportResourcesRequest" name="exportResourcesRequest">
				<wsdl:documentation>Request message (uses exporter:exportResourcesRequest element): Specifies the elements that are to be exported from this server.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:exportResourcesResponse" name="exportResourcesResponse">
				<wsdl:documentation>Response message (uses exporter:exportResourcesResponse element): Returns an export object containing the details of all the exported elements.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importResources">
			<wsdl:documentation>Import a previously exported object containing details of the exported LDAP containers, resource mappings and push destinations.</wsdl:documentation>
			<wsdl:input message="impl:importResourcesRequest" name="importResourcesRequest">
				<wsdl:documentation>Request message (uses exporter:importResourcesRequest element): Specifies the previously exported data object that is to be imported to this server.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:importResourcesResponse" name="importResourcesResponse">
				<wsdl:documentation>Response message (uses exporter:importResourcesResponse element): Returns a success result if the supplied data has been successfully imported.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidLDAPContainerFault" name="InvalidLDAPContainerFault">
				<wsdl:documentation>Error message (uses ex:InvalidLDAPContainerFault element): One or more of the specified LDAP containers does not exist on the target system.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidEntityReferenceFault" name="InvalidEntityReferenceFault">
				<wsdl:documentation>Error message (uses ex:InvalidEntityReference element): One or more of the specified organization model entities does not exist on the target system.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidModelImportFault" name="InvalidModelImportFault">
				<wsdl:documentation>Error message (uses ex:InvalidModelImportFault element): The import operation failed because of errors in the import data (for example, due to missing LDAP or organization model references on the target system).</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidOrgModelVersionFault" name="InvalidOrgModelVersionFault">
				<wsdl:documentation>Error message (uses ex:invalidOrgModelVersionFault element): The specified organization model version does not exist on the target system.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ResourceQueryService">
		<wsdl:documentation>Execute a Resource Query Language (RQL) query to find a set of resources that match specific criteria.</wsdl:documentation>
		<wsdl:operation name="executeQuery">
			<wsdl:documentation>Execute a Resource Query Language (RQL) query to find a set of resources that match specific criteria.</wsdl:documentation>
			<wsdl:input message="impl:executeQueryRequest" name="executeQueryRequest">
				<wsdl:documentation>Request message (uses resourcequery:executeQuery element): Specifies the query to be executed.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:executeQueryResponse" name="executeQueryResponse">
				<wsdl:documentation>Response message (uses resourcequery:executeQueryResponse element): Lists the unique IDs of resources matching the supplied criteria.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidServiceRequestFault" name="InvalidServiceRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidServiceRequest element): The request message has been incorrectly specified and is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidQueryFault" name="InvalidQueryFault">
				<wsdl:documentation>Error message (uses ex:InvalidQueryFault element): The specified resource query is invalid. (It does not conform to the RQL sytnax conventions.)</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:noSuchNamedEntityFault" name="NoSuchNamedEntityFault">
				<wsdl:documentation>Error message (uses ex:NoSuchNamedEntityFault element): An organization model entity specified in the resource query does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:invalidOrgModelVersionFault" name="InvalidOrgModelVersionFault">
				<wsdl:documentation>Error message (uses ex:invalidOrgModelVersionFault element): The specified organization model version does not exist.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="registerQuery">
			<wsdl:documentation>Register a query to be associated with resources using RQL. May be called multiple times for the same query. An internal reference counter is maintained.</wsdl:documentation>
			<wsdl:input message="impl:registerQueryRequest" name="registerQueryRequest"/>
			<wsdl:output message="impl:registerQueryResponse" name="registerQueryResponse"/>
			<wsdl:fault message="impl:directoryEngineFault" name="DirectoryEngineFault"/>
			<wsdl:fault message="impl:securityFault" name="SecurityFault"/>
			<wsdl:fault message="impl:persistenceFault" name="PersistenceFault"/>
		</wsdl:operation>
		<wsdl:operation name="deregisterQuery">
			<wsdl:documentation>Deregister a previously registered query. May be called multiple times for the same query. An internal reference counter is maintained.</wsdl:documentation>
			<wsdl:input message="impl:deregisterQueryRequest" name="deregisterQueryRequest"/>
			<wsdl:output message="impl:deregisterQueryResponse" name="deregisterQueryResponse"/>
			<wsdl:fault message="impl:directoryEngineFault" name="DirectoryEngineFault"/>
			<wsdl:fault message="impl:securityFault" name="SecurityFault"/>
			<wsdl:fault message="impl:persistenceFault" name="PersistenceFault"/>
		</wsdl:operation>
		<wsdl:operation name="resetQueries">
			<wsdl:documentation>Reset all dynamic queries. Only to be used when the system has encountered an abnormal event.</wsdl:documentation>
			<wsdl:input message="impl:resetQueriesRequest" name="resetQueriesRequest"/>
			<wsdl:output message="impl:resetQueriesResponse" name="resetQueriesResponse"/>
			<wsdl:fault message="impl:internalServiceFault" name="InternalServiceFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AdminService">
		<wsdl:documentation>Provides administrative services for Directory Engine.</wsdl:documentation>
		<wsdl:operation name="deleteOrphanReferences">
			<wsdl:documentation>This service deletes references to non-existent org-model entities. Such references are normally the result of the org-model getting out of sync due to administrator intervention.
The response return the GUIDs of those org-model entities that no longer exist but are identified by association records within the database. Those 'orphan' references will have been deleted.</wsdl:documentation>
			<wsdl:input message="impl:deleteOrphanReferencesRequest" name="deleteOrphanReferencesRequest"/>
			<wsdl:output message="impl:deleteOrphanReferencesResponse" name="deleteOrphanReferencesResponse"/>
			<wsdl:fault message="impl:DirectoryEngineFault" name="DirectoryEngineFault"/>
			<wsdl:fault message="impl:securityFault" name="SecurityFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EntityResolverService_EP" type="impl:EntityResolverService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getResourceDetail">
			<soap:operation soapAction="getResourceDetail" style="document"/>
			<wsdl:input name="getResourceDetailRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getResourceDetailResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidEntityReferenceFault">
				<soap:fault name="InvalidEntityReferenceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidOrgModelVersionFault">
				<soap:fault name="InvalidOrgModelVersionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidServiceRequestFault">
				<soap:fault name="InvalidServiceRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listAssociatedResources">
			<soap:operation soapAction="listAssociatedResources" style="document"/>
			<wsdl:input name="listAssociatedResourcesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="listAssociatedResourcesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidEntityReferenceFault">
				<soap:fault name="InvalidEntityReferenceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidOrgModelVersionFault">
				<soap:fault name="InvalidOrgModelVersionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="lookupUser">
			<soap:operation soapAction="lookupUser" style="document"/>
			<wsdl:input name="lookupUserReqest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="lookupUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidServiceRequestFault">
				<soap:fault name="InvalidServiceRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SecurityService_EP" type="impl:SecurityService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="authenticateUser">
			<soap:operation soapAction="authenticateUser" style="document"/>
			<wsdl:input name="authenticateUserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="authenticateUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidServiceRequestFault">
				<soap:fault name="InvalidServiceRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserPrivileges">
			<soap:operation soapAction="getUserPrivileges" style="document"/>
			<wsdl:input name="getUserPrivilegesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserPrivilegesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidServiceRequestFault">
				<soap:fault name="InvalidServiceRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidEntityReferenceFault">
				<soap:fault name="InvalidEntityReferenceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isActionAuthorised">
			<soap:operation soapAction="isActionAuthorised" style="document"/>
			<wsdl:input name="isActionAuthorisedRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="isActionAuthorisedResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidEntityReferenceFault">
				<soap:fault name="InvalidEntityReferenceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidServiceRequestFault">
				<soap:fault name="InvalidServiceRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listActionAuthorisedEntities">
			<soap:operation soapAction="listActionAuthorisedEntities" style="document"/>
			<wsdl:input name="listActionAuthorisedEntitiesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="listActionAuthorisedEntitiesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidServiceRequestFault">
				<soap:fault name="InvalidServiceRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listAuthorisedOrgs">
			<soap:operation soapAction="listAuthorisedOrgs" style="document"/>
			<wsdl:input name="listAuthorisedOrgsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="listAuthorisedOrgsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidServiceRequestFault">
				<soap:fault name="InvalidServiceRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="UserSettingsService_EP" type="impl:UserSettingsService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="saveUserSettings">
			<soap:operation soapAction="saveUserSettings" style="document"/>
			<wsdl:input name="saveUserSettingsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="saveUserSettingsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserSettings">
			<soap:operation soapAction="getUserSettings" style="document"/>
			<wsdl:input name="getUserSettingsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserSettingsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteUserSettings">
			<soap:operation soapAction="deleteUserSettings" style="document"/>
			<wsdl:input name="deleteUserSettingsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteUserSettingsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listUserSettingIds">
			<soap:operation soapAction="listUserSettingIds" style="document"/>
			<wsdl:input name="listUserSettingIdsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="listUserSettingIdsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ExporterService_EP" type="impl:ExporterService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="exportResources">
			<soap:operation soapAction="exportResources" style="document"/>
			<wsdl:input name="exportResourcesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="exportResourcesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="importResources">
			<soap:operation soapAction="importResources" style="document"/>
			<wsdl:input name="importResourcesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="importResourcesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidLDAPContainerFault">
				<soap:fault name="InvalidLDAPContainerFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidEntityReferenceFault">
				<soap:fault name="InvalidEntityReferenceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidModelImportFault">
				<soap:fault name="InvalidModelImportFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidOrgModelVersionFault">
				<soap:fault name="InvalidOrgModelVersionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ResourceQueryService_EP" type="impl:ResourceQueryService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="executeQuery">
			<soap:operation soapAction="executeQuery" style="document"/>
			<wsdl:input name="executeQueryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="executeQueryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidServiceRequestFault">
				<soap:fault name="InvalidServiceRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryFault">
				<soap:fault name="InvalidQueryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="NoSuchNamedEntityFault">
				<soap:fault name="NoSuchNamedEntityFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidOrgModelVersionFault">
				<soap:fault name="InvalidOrgModelVersionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="registerQuery">
			<soap:operation soapAction="registerQuery" style="document"/>
			<wsdl:input name="registerQueryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="registerQueryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DirectoryEngineFault">
				<soap:fault name="DirectoryEngineFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PersistenceFault">
				<soap:fault name="PersistenceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deregisterQuery">
			<soap:operation soapAction="deregisterQuery" style="document"/>
			<wsdl:input name="deregisterQueryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deregisterQueryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DirectoryEngineFault">
				<soap:fault name="DirectoryEngineFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PersistenceFault">
				<soap:fault name="PersistenceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="resetQueries">
			<soap:operation soapAction="resetQueries" style="document"/>
			<wsdl:input name="resetQueriesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="resetQueriesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AdminService_EP" type="impl:AdminService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="deleteOrphanReferences">
			<soap:operation soapAction="deleteOrphanReferences" style="document"/>
			<wsdl:input name="deleteOrphanReferencesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteOrphanReferencesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DirectoryEngineFault">
				<soap:fault name="DirectoryEngineFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EntityResolverService">
		<wsdl:port binding="impl:EntityResolverService_EP" name="EntityResolverService_EP">
			<soap:address location="http://localhost:8080/amxbpm/EntityResolverService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="SecurityService">
		<wsdl:port binding="impl:SecurityService_EP" name="SecurityService_EP">
			<soap:address location="http://localhost:8080/amxbpm/SecurityService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="UserSettingsService">
		<wsdl:port binding="impl:UserSettingsService_EP" name="UserSettingsService_EP">
			<soap:address location="http://localhost:8080/amxbpm/UserSettingsService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="ExporterService">
		<wsdl:port binding="impl:ExporterService_EP" name="ExporterService_EP">
			<soap:address location="http://localhost:8080/amxbpm/ExporterService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="ResourceQueryService">
		<wsdl:port binding="impl:ResourceQueryService_EP" name="ResourceQueryService_EP">
			<soap:address location="http://localhost:8080/amxbpm/ResourceQueryService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="AdminService">
		<wsdl:port binding="impl:AdminService_EP" name="AdminService_EP">
			<soap:address location="http://localhost:8080/amxbpm/AdminService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
