tibcoAPI/Service Descriptors/de.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Paul Raby (Tibco Software Limited) --><xs:schema xmlns="http://api.de.n2.tibco.com" xmlns:orgdto="http://api.organisation.common.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.de.n2.tibco.com" version="1.0">
	<xs:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="organisation.xsd"/>
	<xs:attributeGroup name="XmlDuration">
		<xs:annotation>
			<xs:documentation>Duration of time, expressed as a start and end date/time. Both values are optional but, if an end date is given, a start date must also be provided.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="startDate" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Date/time at which the entity becomes available.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endDate" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Date/time at which the entity becomes unavailable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:simpleType name="ResourceType">
		<xs:annotation>
			<xs:documentation>Enumerated value defining the specific type of a resource.
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DURABLE"/>
			<xs:enumeration value="CONSUMABLE"/>
			<xs:enumeration value="HUMAN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AllocationMethod">
		<xs:annotation>
			<xs:documentation>Enumerated value defining the method by which resources will be selected from a collection for work allocation. One of the following:

- ANY: use random selection.
- NEXT: use iterative selection.
- THIS: use the specifically identified resource.
- PLUGIN: use the named plugin code (where the name is given separately) to perform the selection.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ANY"/>
			<xs:enumeration value="NEXT"/>
			<xs:enumeration value="THIS"/>
			<xs:enumeration value="PLUGIN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SelectionMode">
		<xs:annotation>
			<xs:documentation>Method used to select a resource from an identified collection of resources.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="method" type="AllocationMethod" use="required">
			<xs:annotation>
				<xs:documentation>Algorithm used to select a resource. One of:

- ANY: use random selection.
- NEXT: use iterative selection.
- THIS: use the specifically identified resource.
- PLUGIN: use the named plugin code (where the name is given separately) to perform the selection.			</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="plugin" type="xs:string">
			<xs:annotation>
				<xs:documentation>Name of plugin.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="XmlOrgModelDeploymentInfo">
		<xs:annotation>
			<xs:documentation>Lists all the properties of an organization-model deployment artefact.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="major" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Major component of the version number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="minor" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Minor component of the version number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="micro" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Micro component of the version number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="qualifier" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Qualifier component of the version number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Name of the organization model deployment artifact, as defined by TIBCO Business Studio.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deployed" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Timestamp on which the organization model deployment artifact was deployed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="XmlOrgModelVersionDetail">
		<xs:annotation>
			<xs:documentation>Identifies a major version number of an organization model, detailing the deployment artefacts that make up that major version.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orgdto:XmlOrgModelVersion">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="deployment" type="XmlOrgModelDeploymentInfo"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlModelEntity">
		<xs:annotation>
			<xs:documentation>Extension of XmlModelEntityId that names the identified organization model entity.
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orgdto:XmlModelEntityId">
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Name of the organization model entity. The name must be unique within entities of the same type and in the same majotr version of the organization model.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlEntityAssociation">
		<xs:annotation>
			<xs:documentation>Extension of XmlModelEntityId that identifies the association between one organization model entity (the enclosing element) and another. 

The association may have a duration over which it applies. This will be reflected by any startDate and endDate attributes.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlModelEntity">
				<xs:attributeGroup ref="XmlDuration"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlInheritedAssociation">
		<xs:annotation>
			<xs:documentation>Details of an association (such as a privilege or capability) inherited by one organization model entity from another organization model entity (the origin) to which it is connected.

For example, details of the privileges inherited by a resource from the groups to which it belongs.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlEntityAssociation">
				<xs:sequence>
					<xs:element name="origin" type="XmlModelEntity">
						<xs:annotation>
							<xs:documentation>Identity of the organization model entity from which the association (such as a privilege or capability) is inherited.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlEntityDetail">
		<xs:annotation>
			<xs:documentation>Details of an identified organization model entity. 

Not all elements are relevant to all organization model entity types.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlModelEntity">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="groups" type="xs:string">
						<xs:annotation>
							<xs:documentation>GUIDs of the groups to which this resource belongs.

This attribute is only relevant for entities of type RESOURCE.
              </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="org-units" type="xs:string">
						<xs:annotation>
							<xs:documentation>GUIDs of the organization units to which this resource belongs, via the positions to which it belongs.

This attribute is only relevant for entities of type RESOURCE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="positions" type="xs:string">
						<xs:annotation>
							<xs:documentation>GUIDs of the positions to which this resource belongs.

This attribute is only relevant for entities of type RESOURCE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="privileges" type="xs:string">
						<xs:annotation>
							<xs:documentation>GUIDs of the privileges currently held by this resource.

This attribute is only relevant for entities of type RESOURCE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="capabilities" type="xs:string">
						<xs:annotation>
							<xs:documentation>GUIDs of the capabilities currently associated with this resource.

This attribute is only relevant for entities of type RESOURCE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="queries" type="xs:string">
						<xs:annotation>
							<xs:documentation>GUIDs of the queries currently associated with this resource.

This attribute is only relevant for entities of type RESOURCE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="selection-mode" type="SelectionMode">
						<xs:annotation>
							<xs:documentation>Default algorithm used to select a resource from those associated with this organization model entity.

This attribute is only relevant for entities of type GROUP, ORGANIZATION, ORGANIZATIONAL_UNIT, POSITION and LOCATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="ldap-containers" type="AdminLDAPContainer">
						<xs:annotation>
							<xs:documentation>(Optional) Lists the LDAP Containers that can map resources to this Organisation.							
This element is only relevant for ORGANIZATION entity types.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute default="HUMAN" name="resource-type" type="ResourceType">
					<xs:annotation>
						<xs:documentation>Resouce type of this entity (for entities of type RESOURCE).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="alias" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Alias name by which the LDAP connection (from which the resource originates) is registered with Directory Engine.

This attribute is used with "dn" to locate the resource's entry in the LDAP directory.

The attribute is only relevant for entities of type RESOURCE.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="dn" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DN of the LDAP entry for which the resource originates.

This attribute is used with "alias" to locate the resource's entry in the LDAP directory.

The attribute is only relevant for entities of type RESOURCE.
            </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlQualifiedEntity">
		<xs:annotation>
			<xs:documentation>Description of a capability or privilege that can carry a parameter descriptor as a means of describing a qualifying value (that can be applied to that capability or privilege).
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlModelEntity">
				<xs:sequence>
					<xs:element minOccurs="0" name="qualifier-desc" type="XmlQualifierDescriptor">
						<xs:annotation>
							<xs:documentation>Description of the parameter descriptor used to validate any qualifying value that may be applied to the capability or privilege.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlOrgModelNode">
		<xs:annotation>
			<xs:documentation>Details of the properties and children of an organization model entity. 

This information is used when browsing the organization model.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlModelEntity">
				<xs:sequence>
					<xs:element minOccurs="0" name="selection-mode" type="SelectionMode">
						<xs:annotation>
							<xs:documentation>Default algorithm used to select a resource from those associated with this organization model entity. 

Applies only to entities of type: GROUP, ORGANIZATION, ORGANIZATIONAL_UNIT, POSITION and LOCATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="child" type="XmlOrgModelNode">
						<xs:annotation>
							<xs:documentation>Details of each child organization model entity belonging to the parent. If the child element array is:

- part of a listOrgModelOverviewResponse element, it will be populated for every entity (node) in the tree.

- part of another response element (e.g. openOrgModelResponse or browseModelNodeResponse), it will only be populated for the top-level node(s).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="admin-restrictions" type="AdminLDAPContainer">
						<xs:annotation>
							<xs:documentation>Only used if the  entity is of type organization.

If any LDAP containers are listed then this is the complete set of containers that are allowed to perform administration on this organization.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="location-guid" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>GUID of the location associated with the organization model entity (for those entities that have an association with a location: namely ORGANIZATION, ORGANIZATIONAL_UNIT and POSITION.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="resource-count" type="xs:int" use="optional">
					<xs:annotation>
						<xs:documentation>Number of resources held by the organization model entity, if its type is one that can hold resources.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ideal-number" type="xs:int" use="optional">
					<xs:annotation>
						<xs:documentation>Number of resources that the organization model entity should hold, if its type is one that can hold resources. (This is just an indication, the value is not enforced.)   </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute default="false" name="has-children" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Whether the organization model entity (node) has any child nodes available. 

If these child nodes are not included within the current XmlOrgModelNode they can be retrieved with a subsequent call to Directory Engine, passing the current XmlOrgModelNode
as a parameter. This provides a mechanism for drilling down into the organization model.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="calendar-alias" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>The optional alias by which a Calendar is referenced by the org-model entity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlCapabilityAssignment">
		<xs:annotation>
			<xs:documentation>Definition of a capability assignment, which is used to create or remove the assignment of a capability (iidentified by its GUID) to or from a resource (identified by its GUID). 

The capability assignment may also be qualified with the given qualifier value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orgdto:XmlOrgModelVersion">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="qualifierSet">
						<xs:annotation>
							<xs:documentation>An optional collection of qualifying values. This overrides any qualifier attribute set on the parent element, allowing more than one value to be set. Multiple values will only be used for qualifiers of type "enumset".
                      </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="value" type="xs:string" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute default="false" name="remove" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Boolean value indicating whether the capability is to be removed from (TRUE) or assigned to (FALSE) the specified resource.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="capability-guid" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Unique ID of the capability that is to be removed or assigned.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="qualifier" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Qualifier value for the capability.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="resource-guid" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Unique ID of the resource that the capabilty is to be removed from or assigned to.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="XmlParameterType">
		<xs:annotation>
			<xs:documentation>Enumerated value identifying the type of a parameter descriptor, indicating the type of value it may hold.
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NCName">
			<xs:enumeration value="String"/>
			<xs:enumeration value="Decimal"/>
			<xs:enumeration value="Integer"/>
			<xs:enumeration value="Boolean"/>
			<xs:enumeration value="DateTime"/>
			<xs:enumeration value="Date"/>
			<xs:enumeration value="Time"/>
			<xs:enumeration value="Enum"/>
			<xs:enumeration value="EnumSet"/>
			<xs:enumeration value="Set"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="XmlQualifierDescriptor">
		<xs:annotation>
			<xs:documentation>Definition of a parameter descriptor used as the qualifier for capabilities and privileges.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orgdto:XmlOrgModelVersion">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="enum-val" type="xs:string">
						<xs:annotation>
							<xs:documentation>List of permitted enumeration values for this parameter descriptor (for a parameter descriptor which has a type of Enum or EnumSet).    </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="guid" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Unique GUID of this parameter descriptor.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="description" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Description of this parameter descriptor.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute default="String" name="type" type="XmlParameterType">
					<xs:annotation>
						<xs:documentation>Type of this parameter descriptor.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="default-value" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Default value of this parameter descriptor.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlVersionedName">
		<xs:annotation>
			<xs:documentation>List of the names of an organization model entity as they are referenced in each major version of the organization model (for an entity whose names can vary across organization model versions).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orgdto:XmlOrgModelVersion">
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Name of the parameter descriptor in this version of the organization model.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlParamDescriptor">
		<xs:annotation>
			<xs:documentation>Definition of a parameter descriptor.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlQualifierDescriptor">
				<xs:sequence minOccurs="0">
					<xs:element maxOccurs="unbounded" minOccurs="0" name="alt-name" type="XmlVersionedName">
						<xs:annotation>
							<xs:documentation>Definition of an alternative name for the parameter descriptor in another version of the organization model.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Name of this parameter descriptor.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlLdapAttributeSimple">
		<xs:annotation>
			<xs:documentation>Definition of an attribute of an organization model entity, giving its name and value(s).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:string">
				<xs:annotation>
					<xs:documentation>List of the values held by the resource attribute. 

An organization model entity that references an LDAP attribute can hold more than one value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of the resource attribute within the organization model (NOT the name of any LDAP attribute from which it takes its value).

Exception: When returned as part of a listLDAPAttributesResponse, name of the LDAP attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="XmlLdapAttribute">
		<xs:annotation>
			<xs:documentation>Extension of XmlLdapAttributeSimple, which provides detailed information about the mapping of an organization model entity attribute to an LDAP attribute. 

An  organization model entity attribute that references an LDAP attribute can hold more than one value.

      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlLdapAttributeSimple">
				<xs:attribute name="desc-guid" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Unique identifier of the parameter descriptor that describes the resource attribute.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute default="String" name="type" type="XmlParameterType">
					<xs:annotation>
						<xs:documentation>Enumerated value defining the data type of this resource attribute's value.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute default="true" name="local" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Boolean value defining whether the resource attribute holds its value locally within Directory Engine (TRUE), or whether it reads the value from an identified LDAP attribute (FALSE).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ldap-alias" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>For non-locally held resource attribute values, the alias by which the LDAP connection is registered within Directory Engine. Used to look up that connection so that the resource attribute's value can be read.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ldap-dn" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>For non-locally held resource attribute values, the DN of the LDAP entry from which the attribute's value is read. Together with the ldap-alias, this will locate an entry within the LDAP directory.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ldap-attribute" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>For non-locally held resource attribute values, the name of the LDAP attribute from which the attribute's value is read. Together with the ldap-alias and ldap-dn, this will uniquely identify an attribute of an entry within the LDAP directory.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="LdapIdentity">
		<xs:annotation>
			<xs:documentation>LDAP directory entry identifier, using the entry's LDAP shared resource alias and Distinguished Name (DN).
      </xs:documentation>
		</xs:annotation>
		<xs:attribute name="ldap-alias" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Alias by which the LDAP connection is registered within Directory Engine. Used to look up that connection so that the attribute's value can be read.        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ldap-dn" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Distinguished Name (DN) that uniquely identifies an LDAP entry. Used to look up that entry so that the attribute values can be read.  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="XmlLdapReference">
		<xs:annotation>
			<xs:documentation>LDAP reference identifier, which identifies the LDAP entries from which an organization model resource is derived. It identifies both the LDAP container and the DN within the primary LDAP of that container.

If the LDAP container has any secondary LDAPs, the entry within each of those LDAPs is also identified (by its LDAP shared resource alias and DN). If there is more than one corresponding entry in a secondary LDAP for the primary LDAP entry, the number of additional entries is given in the "duplicate-count" attribute for that entry.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SecondaryLdapEntry">
				<xs:annotation>
					<xs:documentation>Details of each secondary LDAP source associated with the primary LDAP source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="LdapIdentity">
						<xs:annotation>
							<xs:documentation>Alias and DN that identify the LDAP entry within the secondary LDAP resource of the LDAP container. </xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
					<xs:attribute default="0" name="duplicate-count" type="xs:int">
						<xs:annotation>
							<xs:documentation>Number of entries, within the secondary LDAP resource, that match the foreign-key attributes of the primary LDAP resource; that join entries in the primary and secondary LDAP Resources. 

Although only one alias and DN pair will be listed for the secondary LDAP resource, there may be several possible matches for the primary LDAP resource entry. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute default="0" name="container-id" type="xs:long">
			<xs:annotation>
				<xs:documentation>Identifier of the LDAP Container in which the referenced LDAP connections are defined, and from which this XmlLdapReference was constructed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="container-name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Name of the LDAP Container in which the referenced LDAP connections are defined, and from which this XmlLdapReference was constructed. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="LdapIdentity">
			<xs:annotation>
				<xs:documentation>Aalias and DN that identify the LDAP entry within the primary LDAP resource of the LDAP container. </xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="XmlLdapEntity">
		<xs:annotation>
			<xs:documentation>Organization model resource entity identifier (either its GUID or LDAP reference).

If the resource already exists the GUID will be available. If the resource does not exist, the LdapReference will be present and will provide the necessary information to derive an organization model resource from an LDAP entry or entries.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="LdapReference" type="XmlLdapReference">
				<xs:annotation>
					<xs:documentation>Details of the LDAP entries from which the organization model resource is derived.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute default="HUMAN" name="resource-type" type="ResourceType">
			<xs:annotation>
				<xs:documentation>Specifies the type of an organization model resource entity. One of:
- HUMAN
- DURABLE
- CONSUMABLE			</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="guid" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Unique identifier of the resource.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Descriptive name of the resource.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="XmlDuration">
			<xs:annotation>
				<xs:documentation>Identifies a duration of time, expressed as a start and end date/time. Both values are optional but, if an end date is given, a start date must also be provided.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="invalid" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Boolean value indicating whether the resource is valid (FALSE) or invalid (TRUE).

A resource may be invalid if, for example, the resource has been removed from the LDAP source, or if all of the data cannot be returned from the LDAP source. Check the invalidReason attribute for more details.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="invalidReason" type="xs:string">
			<xs:annotation>
				<xs:documentation>Description of the reason why this resource is invalid.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="XmlResourceDetail">
		<xs:annotation>
			<xs:documentation>Extension of XmlLdapEntity, which gives more detail on an LDAP entry - namely its attributes, capabilities and organization model entity associations.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlLdapEntity">
				<xs:choice maxOccurs="unbounded" minOccurs="0">
					<xs:element maxOccurs="unbounded" minOccurs="0" name="group" type="XmlEntityAssociation">
						<xs:annotation>
							<xs:documentation>Details of all organization model groups of which the resource is a member.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="position" type="XmlEntityAssociation">
						<xs:annotation>
							<xs:documentation>Details of all organization model positions held by the resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="privilege" type="XmlInheritedAssociation">
						<xs:annotation>
							<xs:documentation>Details of all organization model privileges held by the resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="capability" type="XmlModelEntity">
						<xs:annotation>
							<xs:documentation>Details of all organization model capabilities possessed by the resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="XmlLdapAttribute">
						<xs:annotation>
							<xs:documentation>Details of all organization model attributes held by the resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlEntityMapping">
		<xs:annotation>
			<xs:documentation>Definition of a target organization model entity (a position or group) and the resources that are to be mapped to (created) or removed from it.

A collection of these elements form the request to the MapEntities operation in the Mapping service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="target" type="orgdto:XmlModelEntityId">
				<xs:annotation>
					<xs:documentation>Target organization model entity (a position or group) to which resources should be mapped (created), or from which they should or removed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="create" type="XmlLdapEntity">
					<xs:annotation>
						<xs:documentation>Details of the resources to be mapped to the target organization model entity.

A new resource will be created if no existing resource can be found for the specified organization model guid or LDAP entry identifier (ldap-dn).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="remove" type="orgdto:XmlModelEntityId">
					<xs:annotation>
						<xs:documentation>Details of the resources to be removed from the target organization model entity.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="XmlEntityInstantiatedList">
		<xs:annotation>
			<xs:documentation>Details of the resources assigned to groups and positions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="resource" type="XmlLdapEntity">
				<xs:annotation>
					<xs:documentation>Details of a resource and the LDAP entries from which it is derived.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="modified" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="EmptyRequest">
		<xs:annotation>
			<xs:documentation>Dummy placeholder for an empty request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element default="false" name="dummy" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Dummy placeholder for an empty request. Its value is not referenced in any request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SuccessFailureResponse">
		<xs:annotation>
			<xs:documentation>Response indicating if a request succeeded or failed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="successful" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Boolean value indicating if a request was successful (TRUE) or not (FALSE).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdminLDAPContainer">
		<xs:annotation>
			<xs:documentation>Complex type that defines an LDAP Container that can be used to administer an Organization.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:long" use="required">
			<xs:annotation>
				<xs:documentation>Unique ID reference of the LDAP container.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string">
			<xs:annotation>
				<xs:documentation>Unique name of the LDAP container.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
