tibcoAPI/.bom2Xsd/com.tibco.n2.de.api.exporter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://exporter.api.de.n2.tibco.com" xmlns:tns8="http://exporter.api.de.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns3="http://api.organisation.common.n2.tibco.com"
    xmlns:tns9="http://ldap.api.de.n2.tibco.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://exporter.api.de.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/tibcoAPI/Generated Business Objects/com.tibco.n2.de.api.exporter.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.organisation.api.xsd"/>
  <xsd:import namespace="http://ldap.api.de.n2.tibco.com" schemaLocation="com.tibco.n2.de.api.ldap.xsd"/>
  <xsd:complexType ecore:name="ExportResource" id="com.tibco.n2.de.api.exporterExportResource"
      abstract="false" mixed="false" name="ExportResource">
    <xsd:annotation>
      <xsd:documentation>Type definition for the complete exported object details. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="container" id="ExportResourcecontainer" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="container" type="tns9:XmlLdapContainerExport"/>
      <xsd:element ecore:name="resource" id="ExportResourceresource" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="resource" type="ResourceDetail"/>
      <xsd:element ecore:name="pushdestination" id="ExportResourcepush-destination"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="push-destination"
          type="PushDestinationDetail"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="modelversion" id="ExportResourcemodel-version" default="-1"
        form="unqualified" name="model-version" type="xsd:int" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="ResourceDetail" id="com.tibco.n2.de.api.exporterResourceDetail"
      abstract="false" mixed="false" name="ResourceDetail">
    <xsd:annotation>
      <xsd:documentation>Base type definition for the exported resource details. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="resourceCapability" id="ResourceDetailresourceCapabilityType"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="resourceCapability">
        <xsd:complexType ecore:name="resourceCapabilityType" id="com.tibco.n2.de.api.exporterresourceCapabilityType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="qualifier" form="unqualified" maxOccurs="unbounded"
                minOccurs="0" name="qualifier">
              <xsd:complexType ecore:name="qualifierType" id="com.tibco.n2.de.api.exporterqualifierType"
                  mixed="false">
                <xsd:attribute ecore:name="value" id="qualifierTypevalue" form="unqualified"
                    name="value" type="xsd:string" use="required"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute ecore:name="capabilityId" id="resourceCapabilityTypecapabilityId"
              form="unqualified" name="capabilityId" type="xsd:string" use="required">
            <xsd:annotation>
              <xsd:documentation>Unique ID of the capability. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="positionHeld" id="ResourceDetailpositionHeldType" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="positionHeld">
        <xsd:complexType ecore:name="positionHeldType" id="com.tibco.n2.de.api.exporterpositionHeldType"
            mixed="false">
          <xsd:attribute ecore:name="positionId" id="positionHeldTypepositionId" form="unqualified"
              name="positionId" type="xsd:string" use="required">
            <xsd:annotation>
              <xsd:documentation>Unique ID of the position. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="startDate" id="positionHeldTypestartDate" form="unqualified"
              name="startDate" type="xsd:dateTime" use="optional">
            <xsd:annotation>
              <xsd:documentation>Date/time at which the user starts to hold the position. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="endDate" id="positionHeldTypeendDate" form="unqualified"
              name="endDate" type="xsd:dateTime" use="optional">
            <xsd:annotation>
              <xsd:documentation>Date/time at which the user ceases to hold the position. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="resourceGroup" id="ResourceDetailresourceGroupType"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="resourceGroup">
        <xsd:complexType ecore:name="resourceGroupType" id="com.tibco.n2.de.api.exporterresourceGroupType"
            mixed="false">
          <xsd:attribute ecore:name="groupId" id="resourceGroupTypegroupId" form="unqualified"
              name="groupId" type="xsd:string" use="required">
            <xsd:annotation>
              <xsd:documentation>Unique ID of the group. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="startDate" id="resourceGroupTypestartDate" form="unqualified"
              name="startDate" type="xsd:dateTime" use="optional">
            <xsd:annotation>
              <xsd:documentation>Date/time at which the user becomes a member of the group. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="endDate" id="resourceGroupTypeendDate" form="unqualified"
              name="endDate" type="xsd:dateTime" use="optional">
            <xsd:annotation>
              <xsd:documentation>Date/time at which the user ceases to be a member of the group. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="parameter" id="ResourceDetailparameterType" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="parameter">
        <xsd:complexType ecore:name="parameterType" id="com.tibco.n2.de.api.exporterparameterType"
            mixed="false">
          <xsd:choice minOccurs="0">
            <xsd:element ecore:name="enumSet" form="unqualified" maxOccurs="1" minOccurs="0"
                name="enumSet">
              <xsd:complexType ecore:name="enumSetType" id="com.tibco.n2.de.api.exporterenumSetType"
                  mixed="false">
                <xsd:sequence maxOccurs="unbounded">
                  <xsd:element ecore:name="enumValue" form="unqualified" maxOccurs="1"
                      minOccurs="1" name="enumValue">
                    <xsd:complexType ecore:name="enumValueType" id="com.tibco.n2.de.api.exporterenumValueType"
                        mixed="false">
                      <xsd:attribute ecore:name="value" id="enumValueTypevalue" form="unqualified"
                          name="value" type="xsd:anySimpleType" use="optional"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
          <xsd:attribute ecore:name="descriptor" id="parameterTypedescriptor" form="unqualified"
              name="descriptor" type="xsd:string" use="required">
            <xsd:annotation>
              <xsd:documentation>Unique identifier of the parameter descriptor that describes the resource attribute. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="value" id="parameterTypevalue" form="unqualified"
              name="value" type="xsd:anySimpleType" use="optional">
            <xsd:annotation>
              <xsd:documentation>Value of the resource attribute.

This will be set only for locally held resource attribute values - that is, where the parameter is not mapped to an external LDAP attribute. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="ldapdn" id="parameterTypeldapdn" form="unqualified"
              name="ldapdn" type="xsd:string" use="optional">
            <xsd:annotation>
              <xsd:documentation>For non-locally held resource attribute values, the DN of the LDAP entry from which the attribute's value is read.  </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="ldapalias" id="parameterTypeldapalias" form="unqualified"
              name="ldapalias" type="xsd:string" use="optional">
            <xsd:annotation>
              <xsd:documentation>For non-locally held resource attribute values, the alias by which the LDAP connection is registered within Directory Engine.  </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="ldapattribute" id="parameterTypeldapattribute"
              form="unqualified" name="ldapattribute" type="xsd:string" use="optional">
            <xsd:annotation>
              <xsd:documentation>For non-locally held resource attribute values, the name of the LDAP attribute from which the attribute's value is read.  </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="secondaryldap" id="ResourceDetailsecondary-ldapType"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="secondary-ldap">
        <xsd:complexType ecore:name="secondaryldapType" id="com.tibco.n2.de.api.exportersecondary-ldapType"
            mixed="false">
          <xsd:attribute ecore:name="ldapalias" id="secondary-ldapTypeldapalias" form="unqualified"
              name="ldapalias" type="xsd:string" use="optional">
            <xsd:annotation>
              <xsd:documentation>LDAP alias of the secondary LDAP source from which this resource is derived. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="ldapdn" id="secondary-ldapTypeldapdn" form="unqualified"
              name="ldapdn" type="xsd:string" use="optional">
            <xsd:annotation>
              <xsd:documentation>LDAP DN of the secondary LDAP source from which this resource is derived. </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute ecore:name="id" id="ResourceDetailid" form="unqualified" name="id"
        type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique ID of the resource. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="ResourceDetailname" form="unqualified" name="name"
        type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Name of the resource. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="label" id="ResourceDetaillabel" form="unqualified"
        name="label" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>The name of the resource used for display purposes. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="startDate" id="ResourceDetailstartDate" form="unqualified"
        name="startDate" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Date/time at which the resource becomes available. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="endDate" id="ResourceDetailendDate" form="unqualified"
        name="endDate" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Date/time at which the resource becomes unavailable. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="locationId" id="ResourceDetaillocationId" form="unqualified"
        name="locationId" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>ID of the location associated with this resource. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="resourceType" id="ResourceDetailresourceType" form="unqualified"
        name="resourceType" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Type of this resource. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapalias" id="ResourceDetailldapalias" form="unqualified"
        name="ldapalias" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>LDAP alias associated with this resource (only for resources whose resourceType is human). </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapdn" id="ResourceDetailldapdn" form="unqualified"
        name="ldapdn" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>LDAP DN associated with this resource (only for resources whose resourceType is human). </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapcontainer" id="ResourceDetailldapcontainer" form="unqualified"
        name="ldapcontainer" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>LDAP container name associated with this resource (only if this LDAP container is part of this export). </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="PushDestinationDetail" id="com.tibco.n2.de.api.exporterPushDestinationDetail"
      abstract="false" mixed="false" name="PushDestinationDetail">
    <xsd:annotation>
      <xsd:documentation>Definition of a push destination. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlModelEntityId">
        <xsd:sequence>
          <xsd:element ecore:name="XMLPushDestination" id="PushDestinationDetailXMLPushDestinationType"
              form="unqualified" maxOccurs="1" minOccurs="1" name="XMLPushDestination">
            <xsd:complexType ecore:name="XMLPushDestinationType" id="com.tibco.n2.de.api.exporterXMLPushDestinationType"
                mixed="false">
              <xsd:choice>
                <xsd:element ecore:name="target" form="unqualified" maxOccurs="unbounded"
                    minOccurs="1" name="target" type="xsd:string"/>
                <xsd:element ecore:name="paramdescriptor" form="unqualified" maxOccurs="1"
                    minOccurs="1" name="param-descriptor" type="xsd:string"/>
              </xsd:choice>
              <xsd:attribute ecore:name="name" id="XMLPushDestinationTypename" form="unqualified"
                  name="name" type="xsd:string" use="required">
                <xsd:annotation>
                  <xsd:documentation>Unique name of this push destination. </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute ecore:name="channeltype" id="XMLPushDestinationTypechannel-type"
                  form="unqualified" name="channel-type" type="xsd:string" use="required">
                <xsd:annotation>
                  <xsd:documentation>Enumerated type defining the presentation technology used by the channel associated with this push destination. </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute ecore:name="channelID" id="XMLPushDestinationTypechannel-ID"
                  form="unqualified" name="channel-ID" type="xsd:string" use="required">
                <xsd:annotation>
                  <xsd:documentation>Unique ID of the channel associated with this push destination. </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute ecore:name="enabled" id="XMLPushDestinationTypeenabled"
                  form="unqualified" name="enabled" type="xsd:boolean" use="required">
                <xsd:annotation>
                  <xsd:documentation>Boolean value indicating whether this push destination is currently enabled (TRUE) or not (FALSE). </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="importResourcesResponse" nillable="false" type="xsd:boolean"/>
  <xsd:element abstract="false" name="exportResourcesResponse" nillable="false" type="ExportResource"/>
  <xsd:element abstract="false" name="importResourcesRequest" nillable="false" type="ExportResource"/>
  <xsd:element abstract="false" name="exportResourcesRequest" nillable="false">
    <xsd:complexType ecore:name="exportResourcesRequestType">
      <xsd:complexContent mixed="false">
        <xsd:extension base="tns3:XmlOrgModelVersion">
          <xsd:attribute ecore:name="exportldapcontainers" id="exportResourcesRequestTypeexport-ldap-containers"
              default="true" form="unqualified" name="export-ldap-containers" type="xsd:boolean"
              use="optional">
            <xsd:annotation>
              <xsd:documentation>Boolean value specifying whether LDAP containers will be exported (TRUE or not set) or not (FALSE). </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="exportresources" id="exportResourcesRequestTypeexport-resources"
              default="true" form="unqualified" name="export-resources" type="xsd:boolean"
              use="optional">
            <xsd:annotation>
              <xsd:documentation>Boolean value specifying whether Directory Engine resource mappings will be exported (TRUE or not set) or not (FALSE). </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="exportpushdestinations" id="exportResourcesRequestTypeexport-push-destinations"
              default="true" form="unqualified" name="export-push-destinations" type="xsd:boolean"
              use="optional">
            <xsd:annotation>
              <xsd:documentation>Boolean value specifying whether push destinations will be exported (TRUE or not set) or not (FALSE). </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>