tibcoAPI/.bom2Xsd/com.tibco.n2.de.api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://api.de.n2.tibco.com" xmlns:tns4="http://api.de.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns3="http://api.organisation.common.n2.tibco.com"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.de.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/tibcoAPI/Generated Business Objects/com.tibco.n2.de.api.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.organisation.api.xsd"/>
  <xsd:simpleType name="ncname_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ResourceType" id="com.tibco.n2.de.apiResourceType" name="ResourceType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the specific type of a resource.
       </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="DURABLE" value="DURABLE"/>
      <xsd:enumeration ecore:name="CONSUMABLE" value="CONSUMABLE"/>
      <xsd:enumeration ecore:name="HUMAN" value="HUMAN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="AllocationMethod" id="com.tibco.n2.de.apiAllocationMethod"
      name="AllocationMethod">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the method by which resources will be selected from a collection for work allocation. One of the following:

- ANY: use random selection.
- NEXT: use iterative selection.
- THIS: use the specifically identified resource.
- PLUGIN: use the named plugin code (where the name is given separately) to perform the selection. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="ANY" value="ANY"/>
      <xsd:enumeration ecore:name="NEXT" value="NEXT"/>
      <xsd:enumeration ecore:name="THIS" value="THIS"/>
      <xsd:enumeration ecore:name="PLUGIN" value="PLUGIN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="XmlParameterType" id="com.tibco.n2.de.apiXmlParameterType"
      name="XmlParameterType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value identifying the type of a parameter descriptor, indicating the type of value it may hold.
       </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="tns4:ncname_StudioGeneratedTemplate">
      <xsd:enumeration ecore:name="STRING" value="String"/>
      <xsd:enumeration ecore:name="DECIMAL" value="Decimal"/>
      <xsd:enumeration ecore:name="INTEGER" value="Integer"/>
      <xsd:enumeration ecore:name="BOOLEAN" value="Boolean"/>
      <xsd:enumeration ecore:name="DATE_TIME" value="DateTime"/>
      <xsd:enumeration ecore:name="DATE" value="Date"/>
      <xsd:enumeration ecore:name="TIME" value="Time"/>
      <xsd:enumeration ecore:name="ENUM" value="Enum"/>
      <xsd:enumeration ecore:name="ENUM_SET" value="EnumSet"/>
      <xsd:enumeration ecore:name="SET" value="Set"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="SelectionMode" id="com.tibco.n2.de.apiSelectionMode"
      abstract="false" mixed="false" name="SelectionMode">
    <xsd:annotation>
      <xsd:documentation>Method used to select a resource from an identified collection of resources. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="method" id="SelectionModemethod" form="unqualified"
        name="method" type="AllocationMethod" use="required">
      <xsd:annotation>
        <xsd:documentation>Algorithm used to select a resource. One of:

- ANY: use random selection.
- NEXT: use iterative selection.
- THIS: use the specifically identified resource.
- PLUGIN: use the named plugin code (where the name is given separately) to perform the selection.			 </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="plugin" id="SelectionModeplugin" form="unqualified"
        name="plugin" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name of plugin. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlOrgModelDeploymentInfo" id="com.tibco.n2.de.apiXmlOrgModelDeploymentInfo"
      abstract="false" mixed="false" name="XmlOrgModelDeploymentInfo">
    <xsd:annotation>
      <xsd:documentation>Lists all the properties of an organization-model deployment artefact. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="major" id="XmlOrgModelDeploymentInfomajor" form="unqualified"
        name="major" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation>Major component of the version number. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="minor" id="XmlOrgModelDeploymentInfominor" form="unqualified"
        name="minor" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation>Minor component of the version number. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="micro" id="XmlOrgModelDeploymentInfomicro" form="unqualified"
        name="micro" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation>Micro component of the version number. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="qualifier" id="XmlOrgModelDeploymentInfoqualifier"
        form="unqualified" name="qualifier" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Qualifier component of the version number. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="XmlOrgModelDeploymentInfoname" form="unqualified"
        name="name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name of the organization model deployment artifact, as defined by TIBCO Business Studio. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="deployed" id="XmlOrgModelDeploymentInfodeployed" form="unqualified"
        name="deployed" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Timestamp on which the organization model deployment artifact was deployed. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlOrgModelVersionDetail" id="com.tibco.n2.de.apiXmlOrgModelVersionDetail"
      abstract="false" mixed="false" name="XmlOrgModelVersionDetail">
    <xsd:annotation>
      <xsd:documentation>Identifies a major version number of an organization model, detailing the deployment artefacts that make up that major version. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlOrgModelVersion">
        <xsd:sequence>
          <xsd:element ecore:name="deployment" id="XmlOrgModelVersionDetaildeployment"
              form="unqualified" maxOccurs="unbounded" minOccurs="1" name="deployment"
              type="XmlOrgModelDeploymentInfo"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlModelEntity" id="com.tibco.n2.de.apiXmlModelEntity"
      abstract="false" mixed="false" name="XmlModelEntity">
    <xsd:annotation>
      <xsd:documentation>Extension of XmlModelEntityId that names the identified organization model entity.
		 </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlModelEntityId">
        <xsd:attribute ecore:name="name" id="XmlModelEntityname" form="unqualified"
            name="name" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Name of the organization model entity. The name must be unique within entities of the same type and in the same majotr version of the organization model. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlEntityAssociation" id="com.tibco.n2.de.apiXmlEntityAssociation"
      abstract="false" mixed="false" name="XmlEntityAssociation">
    <xsd:annotation>
      <xsd:documentation>Extension of XmlModelEntityId that identifies the association between one organization model entity (the enclosing element) and another. 

The association may have a duration over which it applies. This will be reflected by any startDate and endDate attributes.
       </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns4:XmlModelEntity">
        <xsd:attribute ecore:name="startDate" id="XmlEntityAssociationstartDate" form="unqualified"
            name="startDate" type="xsd:dateTime" use="optional">
          <xsd:annotation>
            <xsd:documentation>Date/time at which the entity becomes available. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="endDate" id="XmlEntityAssociationendDate" form="unqualified"
            name="endDate" type="xsd:dateTime" use="optional">
          <xsd:annotation>
            <xsd:documentation>Date/time at which the entity becomes unavailable. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlInheritedAssociation" id="com.tibco.n2.de.apiXmlInheritedAssociation"
      abstract="false" mixed="false" name="XmlInheritedAssociation">
    <xsd:annotation>
      <xsd:documentation>Details of an association (such as a privilege or capability) inherited by one organization model entity from another organization model entity (the origin) to which it is connected.

For example, details of the privileges inherited by a resource from the groups to which it belongs. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns4:XmlEntityAssociation">
        <xsd:sequence>
          <xsd:element ecore:name="origin" id="XmlInheritedAssociationorigin" form="unqualified"
              maxOccurs="1" minOccurs="1" name="origin" type="XmlModelEntity"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlEntityDetail" id="com.tibco.n2.de.apiXmlEntityDetail"
      abstract="false" mixed="false" name="XmlEntityDetail">
    <xsd:annotation>
      <xsd:documentation>Details of an identified organization model entity. 

Not all elements are relevant to all organization model entity types.
       </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns4:XmlModelEntity">
        <xsd:sequence>
          <xsd:element ecore:name="groups" id="XmlEntityDetailgroups" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="groups" type="xsd:string"/>
          <xsd:element ecore:name="orgunits" id="XmlEntityDetailorg-units" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="org-units" type="xsd:string"/>
          <xsd:element ecore:name="positions" id="XmlEntityDetailpositions" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="positions" type="xsd:string"/>
          <xsd:element ecore:name="privileges" id="XmlEntityDetailprivileges" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="privileges" type="xsd:string"/>
          <xsd:element ecore:name="capabilities" id="XmlEntityDetailcapabilities"
              form="unqualified" maxOccurs="unbounded" minOccurs="0" name="capabilities"
              type="xsd:string"/>
          <xsd:element ecore:name="queries" id="XmlEntityDetailqueries" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="queries" type="xsd:string"/>
          <xsd:element ecore:name="selectionmode" id="XmlEntityDetailselection-mode"
              form="unqualified" maxOccurs="1" minOccurs="0" name="selection-mode"
              type="SelectionMode"/>
          <xsd:element ecore:name="ldapcontainers" id="XmlEntityDetailldap-containers"
              form="unqualified" maxOccurs="unbounded" minOccurs="0" name="ldap-containers"
              type="AdminLDAPContainer"/>
        </xsd:sequence>
        <xsd:attribute ecore:name="resourcetype" id="XmlEntityDetailresource-type"
            default="HUMAN" form="unqualified" name="resource-type" type="ResourceType"
            use="optional">
          <xsd:annotation>
            <xsd:documentation>Resouce type of this entity (for entities of type RESOURCE). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="alias" id="XmlEntityDetailalias" form="unqualified"
            name="alias" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>Alias name by which the LDAP connection (from which the resource originates) is registered with Directory Engine.

This attribute is used with &quot;dn&quot; to locate the resource's entry in the LDAP directory.

The attribute is only relevant for entities of type RESOURCE. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="dn" id="XmlEntityDetaildn" form="unqualified" name="dn"
            type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>DN of the LDAP entry for which the resource originates.

This attribute is used with &quot;alias&quot; to locate the resource's entry in the LDAP directory.

The attribute is only relevant for entities of type RESOURCE.
             </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="AdminLDAPContainer" id="com.tibco.n2.de.apiAdminLDAPContainer"
      abstract="false" mixed="false" name="AdminLDAPContainer">
    <xsd:annotation>
      <xsd:documentation>Complex type that defines an LDAP Container that can be used to administer an Organization. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="id" id="AdminLDAPContainerid" form="unqualified" name="id"
        type="tns4:long_StudioGeneratedTemplate" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique ID reference of the LDAP container. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="AdminLDAPContainername" form="unqualified"
        name="name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Unique name of the LDAP container. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlQualifiedEntity" id="com.tibco.n2.de.apiXmlQualifiedEntity"
      abstract="false" mixed="false" name="XmlQualifiedEntity">
    <xsd:annotation>
      <xsd:documentation>Description of a capability or privilege that can carry a parameter descriptor as a means of describing a qualifying value (that can be applied to that capability or privilege).
       </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns4:XmlModelEntity">
        <xsd:sequence>
          <xsd:element ecore:name="qualifierdesc" id="XmlQualifiedEntityqualifier-desc"
              form="unqualified" maxOccurs="1" minOccurs="0" name="qualifier-desc"
              type="XmlQualifierDescriptor"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlQualifierDescriptor" id="com.tibco.n2.de.apiXmlQualifierDescriptor"
      abstract="false" mixed="false" name="XmlQualifierDescriptor">
    <xsd:annotation>
      <xsd:documentation>Definition of a parameter descriptor used as the qualifier for capabilities and privileges. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlOrgModelVersion">
        <xsd:sequence>
          <xsd:element ecore:name="enumval" id="XmlQualifierDescriptorenum-val" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="enum-val" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ecore:name="guid" id="XmlQualifierDescriptorguid" form="unqualified"
            name="guid" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Unique GUID of this parameter descriptor. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="description" id="XmlQualifierDescriptordescription"
            form="unqualified" name="description" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>Description of this parameter descriptor. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="type" id="XmlQualifierDescriptortype" default="String"
            form="unqualified" name="type" type="XmlParameterType" use="optional">
          <xsd:annotation>
            <xsd:documentation>Type of this parameter descriptor. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="defaultvalue" id="XmlQualifierDescriptordefault-value"
            form="unqualified" name="default-value" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>Default value of this parameter descriptor. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlOrgModelNode" id="com.tibco.n2.de.apiXmlOrgModelNode"
      abstract="false" mixed="false" name="XmlOrgModelNode">
    <xsd:annotation>
      <xsd:documentation>Details of each child organization model entity belonging to the parent. If the child element array is:

- part of a listOrgModelOverviewResponse element, it will be populated for every entity (node) in the tree.

- part of another response element (e.g. openOrgModelResponse or browseModelNodeResponse), it will only be populated for the top-level node(s). </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns4:XmlModelEntity">
        <xsd:sequence>
          <xsd:element ecore:name="selectionmode" id="XmlOrgModelNodeselection-mode"
              form="unqualified" maxOccurs="1" minOccurs="0" name="selection-mode"
              type="SelectionMode"/>
          <xsd:element ecore:name="child" id="XmlOrgModelNodechild" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="child" type="XmlOrgModelNode"/>
          <xsd:element ecore:name="adminrestrictions" id="XmlOrgModelNodeadmin-restrictions"
              form="unqualified" maxOccurs="unbounded" minOccurs="0" name="admin-restrictions"
              type="AdminLDAPContainer"/>
        </xsd:sequence>
        <xsd:attribute ecore:name="locationguid" id="XmlOrgModelNodelocation-guid"
            form="unqualified" name="location-guid" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>GUID of the location associated with the organization model entity (for those entities that have an association with a location: namely ORGANIZATION, ORGANIZATIONAL_UNIT and POSITION. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="resourcecount" id="XmlOrgModelNoderesource-count"
            form="unqualified" name="resource-count" type="xsd:int" use="optional">
          <xsd:annotation>
            <xsd:documentation>Number of resources held by the organization model entity, if its type is one that can hold resources. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="idealnumber" id="XmlOrgModelNodeideal-number" form="unqualified"
            name="ideal-number" type="xsd:int" use="optional">
          <xsd:annotation>
            <xsd:documentation>Number of resources that the organization model entity should hold, if its type is one that can hold resources. (This is just an indication, the value is not enforced.)    </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="haschildren" id="XmlOrgModelNodehas-children" default="false"
            form="unqualified" name="has-children" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>Whether the organization model entity (node) has any child nodes available. 

If these child nodes are not included within the current XmlOrgModelNode they can be retrieved with a subsequent call to Directory Engine, passing the current XmlOrgModelNode
as a parameter. This provides a mechanism for drilling down into the organization model. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="calendaralias" id="XmlOrgModelNodecalendar-alias"
            form="unqualified" name="calendar-alias" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>The optional alias by which a Calendar is referenced by the org-model entity. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlCapabilityAssignment" id="com.tibco.n2.de.apiXmlCapabilityAssignment"
      abstract="false" mixed="false" name="XmlCapabilityAssignment">
    <xsd:annotation>
      <xsd:documentation>Definition of a capability assignment, which is used to create or remove the assignment of a capability (iidentified by its GUID) to or from a resource (identified by its GUID). 

The capability assignment may also be qualified with the given qualifier value. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlOrgModelVersion">
        <xsd:sequence>
          <xsd:element ecore:name="qualifierSet" id="XmlCapabilityAssignmentqualifierSetType"
              form="unqualified" maxOccurs="unbounded" minOccurs="0" name="qualifierSet">
            <xsd:complexType ecore:name="qualifierSetType" id="com.tibco.n2.de.apiqualifierSetType"
                mixed="false">
              <xsd:attribute ecore:name="value" id="qualifierSetTypevalue2" form="unqualified"
                  name="value" type="xsd:string" use="required"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute ecore:name="remove" id="XmlCapabilityAssignmentremove" default="false"
            form="unqualified" name="remove" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>Boolean value indicating whether the capability is to be removed from (TRUE) or assigned to (FALSE) the specified resource. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="capabilityguid" id="XmlCapabilityAssignmentcapability-guid"
            form="unqualified" name="capability-guid" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Unique ID of the capability that is to be removed or assigned. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="qualifier" id="XmlCapabilityAssignmentqualifier"
            form="unqualified" name="qualifier" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>Qualifier value for the capability. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="resourceguid" id="XmlCapabilityAssignmentresource-guid"
            form="unqualified" name="resource-guid" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Unique ID of the resource that the capabilty is to be removed from or assigned to. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlVersionedName" id="com.tibco.n2.de.apiXmlVersionedName"
      abstract="false" mixed="false" name="XmlVersionedName">
    <xsd:annotation>
      <xsd:documentation>List of the names of an organization model entity as they are referenced in each major version of the organization model (for an entity whose names can vary across organization model versions). </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlOrgModelVersion">
        <xsd:attribute ecore:name="name" id="XmlVersionedNamename" form="unqualified"
            name="name" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Name of the parameter descriptor in this version of the organization model. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlParamDescriptor" id="com.tibco.n2.de.apiXmlParamDescriptor"
      abstract="false" mixed="false" name="XmlParamDescriptor">
    <xsd:annotation>
      <xsd:documentation>Definition of a parameter descriptor. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns4:XmlQualifierDescriptor">
        <xsd:sequence minOccurs="0">
          <xsd:element ecore:name="altname" id="XmlParamDescriptoralt-name" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="alt-name" type="XmlVersionedName"/>
        </xsd:sequence>
        <xsd:attribute ecore:name="name" id="XmlParamDescriptorname" form="unqualified"
            name="name" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Name of this parameter descriptor. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapAttributeSimple" id="com.tibco.n2.de.apiXmlLdapAttributeSimple"
      abstract="false" mixed="false" name="XmlLdapAttributeSimple">
    <xsd:annotation>
      <xsd:documentation>Definition of an attribute of an organization model entity, giving its name and value(s). </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="value" id="XmlLdapAttributeSimplevalue" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="name" id="XmlLdapAttributeSimplename" form="unqualified"
        name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Name of the resource attribute within the organization model (NOT the name of any LDAP attribute from which it takes its value).

Exception: When returned as part of a listLDAPAttributesResponse, name of the LDAP attribute. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapAttribute" id="com.tibco.n2.de.apiXmlLdapAttribute"
      abstract="false" mixed="false" name="XmlLdapAttribute">
    <xsd:annotation>
      <xsd:documentation>Extension of XmlLdapAttributeSimple, which provides detailed information about the mapping of an organization model entity attribute to an LDAP attribute. 

An  organization model entity attribute that references an LDAP attribute can hold more than one value.

       </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns4:XmlLdapAttributeSimple">
        <xsd:attribute ecore:name="descguid" id="XmlLdapAttributedesc-guid" form="unqualified"
            name="desc-guid" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>Unique identifier of the parameter descriptor that describes the resource attribute. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="type" id="XmlLdapAttributetype" default="String"
            form="unqualified" name="type" type="XmlParameterType" use="optional">
          <xsd:annotation>
            <xsd:documentation>Enumerated value defining the data type of this resource attribute's value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="local" id="XmlLdapAttributelocal" default="true"
            form="unqualified" name="local" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>Boolean value defining whether the resource attribute holds its value locally within Directory Engine (TRUE), or whether it reads the value from an identified LDAP attribute (FALSE). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="ldapalias" id="XmlLdapAttributeldap-alias" form="unqualified"
            name="ldap-alias" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>For non-locally held resource attribute values, the alias by which the LDAP connection is registered within Directory Engine. Used to look up that connection so that the resource attribute's value can be read. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="ldapdn" id="XmlLdapAttributeldap-dn" form="unqualified"
            name="ldap-dn" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>For non-locally held resource attribute values, the DN of the LDAP entry from which the attribute's value is read. Together with the ldap-alias, this will locate an entry within the LDAP directory. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="ldapattribute" id="XmlLdapAttributeldap-attribute"
            form="unqualified" name="ldap-attribute" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>For non-locally held resource attribute values, the name of the LDAP attribute from which the attribute's value is read. Together with the ldap-alias and ldap-dn, this will uniquely identify an attribute of an entry within the LDAP directory. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapReference" id="com.tibco.n2.de.apiXmlLdapReference"
      abstract="false" mixed="false" name="XmlLdapReference">
    <xsd:annotation>
      <xsd:documentation>LDAP reference identifier, which identifies the LDAP entries from which an organization model resource is derived. It identifies both the LDAP container and the DN within the primary LDAP of that container.

If the LDAP container has any secondary LDAPs, the entry within each of those LDAPs is also identified (by its LDAP shared resource alias and DN). If there is more than one corresponding entry in a secondary LDAP for the primary LDAP entry, the number of additional entries is given in the &quot;duplicate-count&quot; attribute for that entry.
       </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="secondaryLdapEntry" id="XmlLdapReferenceSecondaryLdapEntryType"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="SecondaryLdapEntry">
        <xsd:complexType ecore:name="SecondaryLdapEntryType" id="com.tibco.n2.de.apiSecondaryLdapEntryType"
            mixed="false">
          <xsd:attribute ecore:name="ldapalias" id="SecondaryLdapEntryTypeldap-alias"
              form="unqualified" name="ldap-alias" type="xsd:string" use="required">
            <xsd:annotation>
              <xsd:documentation>Alias by which the LDAP connection is registered within Directory Engine. Used to look up that connection so that the attribute's value can be read.         </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="ldapdn" id="SecondaryLdapEntryTypeldap-dn" form="unqualified"
              name="ldap-dn" type="xsd:string" use="required">
            <xsd:annotation>
              <xsd:documentation>Distinguished Name (DN) that uniquely identifies an LDAP entry. Used to look up that entry so that the attribute values can be read.   </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute ecore:name="duplicatecount" id="SecondaryLdapEntryTypeduplicate-count"
              default="0" form="unqualified" name="duplicate-count" type="xsd:int"
              use="optional">
            <xsd:annotation>
              <xsd:documentation>Number of entries, within the secondary LDAP resource, that match the foreign-key attributes of the primary LDAP resource; that join entries in the primary and secondary LDAP Resources. 

Although only one alias and DN pair will be listed for the secondary LDAP resource, there may be several possible matches for the primary LDAP resource entry.  </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute ecore:name="containerid" id="XmlLdapReferencecontainer-id" default="0"
        form="unqualified" name="container-id" type="tns4:long_StudioGeneratedTemplate"
        use="optional">
      <xsd:annotation>
        <xsd:documentation>Identifier of the LDAP Container in which the referenced LDAP connections are defined, and from which this XmlLdapReference was constructed.  </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="containername" id="XmlLdapReferencecontainer-name"
        form="unqualified" name="container-name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name of the LDAP Container in which the referenced LDAP connections are defined, and from which this XmlLdapReference was constructed.  </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapalias" id="XmlLdapReferenceldap-alias" form="unqualified"
        name="ldap-alias" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Alias by which the LDAP connection is registered within Directory Engine. Used to look up that connection so that the attribute's value can be read.         </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapdn" id="XmlLdapReferenceldap-dn" form="unqualified"
        name="ldap-dn" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Distinguished Name (DN) that uniquely identifies an LDAP entry. Used to look up that entry so that the attribute values can be read.   </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapEntity" id="com.tibco.n2.de.apiXmlLdapEntity"
      abstract="false" mixed="false" name="XmlLdapEntity">
    <xsd:annotation>
      <xsd:documentation>Organization model resource entity identifier (either its GUID or LDAP reference).

If the resource already exists the GUID will be available. If the resource does not exist, the LdapReference will be present and will provide the necessary information to derive an organization model resource from an LDAP entry or entries. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="ldapReference" id="XmlLdapEntityLdapReference" form="unqualified"
          maxOccurs="1" minOccurs="0" name="LdapReference" type="XmlLdapReference"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="resourcetype" id="XmlLdapEntityresource-type" default="HUMAN"
        form="unqualified" name="resource-type" type="ResourceType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Specifies the type of an organization model resource entity. One of:
- HUMAN
- DURABLE
- CONSUMABLE			 </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="guid" id="XmlLdapEntityguid" form="unqualified" name="guid"
        type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Unique identifier of the resource. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="XmlLdapEntityname" form="unqualified" name="name"
        type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Descriptive name of the resource. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="startDate" id="XmlLdapEntitystartDate" form="unqualified"
        name="startDate" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Date/time at which the entity becomes available. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="endDate" id="XmlLdapEntityendDate" form="unqualified"
        name="endDate" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Date/time at which the entity becomes unavailable. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="invalid" id="XmlLdapEntityinvalid" form="unqualified"
        name="invalid" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Boolean value indicating whether the resource is valid (FALSE) or invalid (TRUE).

A resource may be invalid if, for example, the resource has been removed from the LDAP source, or if all of the data cannot be returned from the LDAP source. Check the invalidReason attribute for more details. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="invalidReason" id="XmlLdapEntityinvalidReason" form="unqualified"
        name="invalidReason" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Description of the reason why this resource is invalid. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlResourceDetail" id="com.tibco.n2.de.apiXmlResourceDetail"
      abstract="false" mixed="false" name="XmlResourceDetail">
    <xsd:annotation>
      <xsd:documentation>Extension of XmlLdapEntity, which gives more detail on an LDAP entry - namely its attributes, capabilities and organization model entity associations.
       </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns4:XmlLdapEntity">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element ecore:name="group" id="XmlResourceDetailgroup" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="group" type="XmlEntityAssociation"/>
          <xsd:element ecore:name="position" id="XmlResourceDetailposition" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="position" type="XmlEntityAssociation"/>
          <xsd:element ecore:name="privilege" id="XmlResourceDetailprivilege" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="privilege" type="XmlInheritedAssociation"/>
          <xsd:element ecore:name="capability" id="XmlResourceDetailcapability" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="capability" type="XmlModelEntity"/>
          <xsd:element ecore:name="attribute" id="XmlResourceDetailattribute" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="attribute" type="XmlLdapAttribute"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlEntityMapping" id="com.tibco.n2.de.apiXmlEntityMapping"
      abstract="false" mixed="false" name="XmlEntityMapping">
    <xsd:annotation>
      <xsd:documentation>Definition of a target organization model entity (a position or group) and the resources that are to be mapped to (created) or removed from it.

A collection of these elements form the request to the MapEntities operation in the Mapping service. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="target" id="XmlEntityMappingtarget" form="unqualified"
          maxOccurs="1" minOccurs="1" name="target" type="tns3:XmlModelEntityId"/>
      <xsd:choice>
        <xsd:element ecore:name="create" id="XmlEntityMappingcreate" form="unqualified"
            maxOccurs="unbounded" minOccurs="0" name="create" type="XmlLdapEntity"/>
        <xsd:element ecore:name="remove" id="XmlEntityMappingremove" form="unqualified"
            maxOccurs="unbounded" minOccurs="0" name="remove" type="tns3:XmlModelEntityId"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlEntityInstantiatedList" id="com.tibco.n2.de.apiXmlEntityInstantiatedList"
      abstract="false" mixed="false" name="XmlEntityInstantiatedList">
    <xsd:annotation>
      <xsd:documentation>Details of the resources assigned to groups and positions. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="resource" id="XmlEntityInstantiatedListresource" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="resource" type="XmlLdapEntity"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="modified" id="XmlEntityInstantiatedListmodified" form="unqualified"
        name="modified" type="xsd:int" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="EmptyRequest" id="com.tibco.n2.de.apiEmptyRequest"
      abstract="false" mixed="false" name="EmptyRequest">
    <xsd:annotation>
      <xsd:documentation>Dummy placeholder for an empty request. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="dummy" id="EmptyRequestdummy" default="false" form="unqualified"
          maxOccurs="1" minOccurs="1" name="dummy" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="SuccessFailureResponse" id="com.tibco.n2.de.apiSuccessFailureResponse"
      abstract="false" mixed="false" name="SuccessFailureResponse">
    <xsd:annotation>
      <xsd:documentation>Response indicating if a request succeeded or failed. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="successful" id="SuccessFailureResponsesuccessful" form="unqualified"
          maxOccurs="1" minOccurs="1" name="successful" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>