tibcoAPI/.bom2Xsd/com.tibco.n2.de.api.ldap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://ldap.api.de.n2.tibco.com" xmlns:tns9="http://ldap.api.de.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns3="http://api.organisation.common.n2.tibco.com"
    xmlns:tns5="http://base.api.de.bpm.tibco.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ldap.api.de.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/tibcoAPI/Generated Business Objects/com.tibco.n2.de.api.ldap.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.organisation.api.xsd"/>
  <xsd:import namespace="http://base.api.de.bpm.tibco.com" schemaLocation="com.tibco.bpm.de.api.base.xsd"/>
  <xsd:complexType ecore:name="XmlLdapContainerMapping" id="com.tibco.n2.de.api.ldapXmlLdapContainerMapping"
      abstract="false" mixed="false" name="XmlLdapContainerMapping">
    <xsd:annotation>
      <xsd:documentation>Definition of a foreign key mapping between the primary LDAP source and a secondary LDAP
            source for an LDAP container.
            Each element names an attribute within each LDAP source that, for a given entry in each LDAP source, holds
            the same value and thus provides an association between the two entries.
            In order to uniquely identify an entry in each LDAP source many of these elements may be required, naming
            several attributes in each LDAP source. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="primaryattribute" id="XmlLdapContainerMappingprimary-attribute"
        form="unqualified" name="primary-attribute" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The LDAP attribute in the primary LDAP source that is to be mapped to the LDAP attribute in the secondary LDAP source (name in the secondary-attribute). </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="secondaryattribute" id="XmlLdapContainerMappingsecondary-attribute"
        form="unqualified" name="secondary-attribute" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The LDAP attribute in this secondary LDAP source that is to be mapped to from the LDAP attribute in the primary LDAP source (named in the primary-attribute) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapAttributeContainerMapping" id="com.tibco.n2.de.api.ldapXmlLdapAttributeContainerMapping"
      abstract="false" mixed="false" name="XmlLdapAttributeContainerMapping">
    <xsd:annotation>
      <xsd:documentation>Mapping between a resource (or business) attribute, which is defined in the organization model and identified by its GUID, and an LDAP attribute, which is identified by its LDAP container resource GUID and the attribute name.
The &quot;ldap-resource-id&quot; attribute links the entry to its parent XmlLdapContainerResource element (via the &quot;id&quot; attribute of that element). </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="ldapresourceid" id="XmlLdapAttributeContainerMappingldap-resource-id"
        form="unqualified" name="ldap-resource-id" type="tns9:long_StudioGeneratedTemplate"
        use="required">
      <xsd:annotation>
        <xsd:documentation>ID (within this enclosing XmlLdapContainer element) of the LDAP source that contains the named LDAP Attribute. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="businessattributeid" id="XmlLdapAttributeContainerMappingbusiness-attribute-id"
        form="unqualified" name="business-attribute-id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The GUID of the business attribute (Resource Attribute) as defined in the organization model. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapattribute" id="XmlLdapAttributeContainerMappingldap-attribute"
        form="unqualified" name="ldap-attribute" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>LDAP attribute that is to be mapped to the identified business attribute. Whenever a value is required for the business attribute, it will be provided by this LDAP attribute. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapSource" id="com.tibco.n2.de.api.ldapXmlLdapSource"
      abstract="false" mixed="false" name="XmlLdapSource">
    <xsd:annotation>
      <xsd:documentation>Definition of an LDAP shared resource entry (identified by its GUID) in an LDAP container.

The &quot;id&quot; attribute is used to link this element to the &quot;ldap-resource-id&quot; attribute of the XmlLdapAttributeContainerMapping entries in the XmlLdapContainer in which this element is located. (A value should always be assigned to the &quot;id&quot; attribute.) </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="id" id="XmlLdapSourceid" form="unqualified" name="id"
        type="tns9:long_StudioGeneratedTemplate" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique ID of the LDAP source. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="guid" id="XmlLdapSourceguid" form="unqualified" name="guid"
        type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Unique GUID of the LDAP source. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapalias" id="XmlLdapSourceldap-alias2" form="unqualified"
        name="ldap-alias" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Alias of the LDAP directory that is referenced by this LDAP source. The alias is a previously configured shared resource that identifies this LDAP source. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="displaynameattributes" id="XmlLdapSourcedisplay-name-attributes"
        form="unqualified" name="display-name-attributes" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>(Optional) LDAP attributes that can be used to generate a default display name for any resource located within this LDAP source. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapContainerResource" id="com.tibco.n2.de.api.ldapXmlLdapContainerResource"
      abstract="false" mixed="false" name="XmlLdapContainerResource">
    <xsd:annotation>
      <xsd:documentation>Definition of an LDAP shared resource entry (identified by its GUID) in an LDAP container.

The &quot;id&quot; attribute is used to link this element to the &quot;ldap-resource-id&quot; attribute of the XmlLdapAttributeContainerMapping entries in the XmlLdapContainer in which this element is located. (A value should always be assigned to the &quot;id&quot; attribute.) </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns9:XmlLdapSource">
        <xsd:attribute ecore:name="ldapsearchstring" id="XmlLdapContainerResourceldap-search-string"
            form="unqualified" name="ldap-search-string" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>(Optional) LDAP query expression that can be used to restrict the data that is returned from this LDAP source. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="basedn" id="XmlLdapContainerResourcebase-dn" form="unqualified"
            name="base-dn" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>Optionally provides an additional base DN that will be used to restrict the results. This base DN is relative, and in additon, to any base DN specified in the URL of the LDAP Connection shared resource identified by the ldap-alias. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlSecondaryLdapContainerResource" id="com.tibco.n2.de.api.ldapXmlSecondaryLdapContainerResource"
      abstract="false" mixed="false" name="XmlSecondaryLdapContainerResource">
    <xsd:annotation>
      <xsd:documentation>Extension of XmlLdapContainerResource, which identifies a secondary LDAP shared resource entry within an LDAP container. 

An LDAP container can hold a single primary LDAP source and any number of secondary LDAP sources. Secondary LDAP sources  hold &quot;foreign-key&quot; references that map their entries to those of the primary LDAP source by named attribute values. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns9:XmlLdapContainerResource">
        <xsd:sequence>
          <xsd:element ecore:name="containermapping" id="XmlSecondaryLdapContainerResourcecontainer-mapping"
              form="unqualified" maxOccurs="unbounded" minOccurs="1" name="container-mapping"
              type="XmlLdapContainerMapping"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapGroupSource" id="com.tibco.n2.de.api.ldapXmlLdapGroupSource"
      abstract="false" mixed="false" name="XmlLdapGroupSource">
    <xsd:annotation>
      <xsd:documentation>Definition of an LDAP shared resource entry (identified by its GUID) in an LDAP container. This definition is for an LDAP Source that locates Resources from an LDAP Group.

The &quot;id&quot; attribute is used to link this element to the &quot;ldap-resource-id&quot; attribute of the XmlLdapAttributeContainerMapping entries in the XmlLdapContainer in which this element is located. (A value should always be assigned to the &quot;id&quot; attribute.) </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns9:XmlLdapSource">
        <xsd:attribute ecore:name="groupdn" id="XmlLdapGroupSourcegroup-dn2" form="unqualified"
            name="group-dn" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>The Group DN uniquely identifies the directory entry that is the group. This can be derived by performing a search based upon the base-DN, search filter and scope parameters described above. Or, it can be manually entered (with verification) by the user. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="memberattribute" id="XmlLdapGroupSourcemember-attribute2"
            form="unqualified" name="member-attribute" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>The member attribute names the attribute within the group entry that holds the collection of member idenifiers - their DNs. This will give the final list of candidate resources. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlSecondaryLdapGroupSource" id="com.tibco.n2.de.api.ldapXmlSecondaryLdapGroupSource"
      abstract="false" mixed="false" name="XmlSecondaryLdapGroupSource">
    <xsd:annotation>
      <xsd:documentation>Extension of XmlLdapGroupSource, which identifies a secondary LDAP shared resource entry within an LDAP container. 

An LDAP container can hold a single primary LDAP source and any number of secondary LDAP sources. Secondary LDAP sources  hold &quot;foreign-key&quot; references that map their entries to those of the primary LDAP source by named attribute values. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns9:XmlLdapGroupSource">
        <xsd:sequence>
          <xsd:element ecore:name="containermapping" id="XmlSecondaryLdapGroupSourcecontainer-mapping"
              form="unqualified" maxOccurs="unbounded" minOccurs="1" name="container-mapping"
              type="XmlLdapContainerMapping"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapContainer" id="com.tibco.n2.de.api.ldapXmlLdapContainer"
      abstract="false" mixed="false" name="XmlLdapContainer">
    <xsd:annotation>
      <xsd:documentation>Definition of an LDAP container and any LDAP Source entries that it contains. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element ecore:name="primaryldap" id="XmlLdapContainerprimary-ldap" form="unqualified"
            maxOccurs="1" minOccurs="1" name="primary-ldap" type="XmlLdapContainerResource"/>
        <xsd:element ecore:name="primarygroupldap" id="XmlLdapContainerprimary-group-ldap"
            form="unqualified" maxOccurs="1" minOccurs="1" name="primary-group-ldap"
            type="XmlLdapGroupSource"/>
      </xsd:choice>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element ecore:name="secondaryldap" id="XmlLdapContainersecondary-ldap"
            form="unqualified" maxOccurs="1" minOccurs="1" name="secondary-ldap" type="XmlSecondaryLdapContainerResource"/>
        <xsd:element ecore:name="secondarygroupldap" id="XmlLdapContainersecondary-group-ldap"
            form="unqualified" maxOccurs="1" minOccurs="1" name="secondary-group-ldap"
            type="XmlSecondaryLdapGroupSource"/>
      </xsd:choice>
      <xsd:element ecore:name="attributemapping" id="XmlLdapContainerattribute-mapping"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="attribute-mapping"
          type="XmlLdapAttributeContainerMapping"/>
      <xsd:element ecore:name="administeredorganisation" id="XmlLdapContaineradministered-organisation"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="administered-organisation"
          type="XmlAdministeredOrganisations"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="id" id="XmlLdapContainerid" default="0" form="unqualified"
        name="id" type="tns9:long_StudioGeneratedTemplate" use="optional">
      <xsd:annotation>
        <xsd:documentation>Unique ID of the LDAP container. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="XmlLdapContainername" form="unqualified"
        name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique name of the LDAP container. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="description" id="XmlLdapContainerdescription" form="unqualified"
        name="description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Description of the LDAP container. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="active" id="XmlLdapContaineractive" default="true"
        form="unqualified" name="active" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Indicates if this container has been marked as deleted. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="entitycount" id="XmlLdapContainerentity-count" form="unqualified"
        name="entity-count" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>Only specified when this XmlLdapContainer is used in a service response. The count of the number of LDAP entries this container referenced. This count is set when the container is queried. The count may not be currently correct if the LDAP directory has been modified since the count was set. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="lastaccessed" id="XmlLdapContainerlast-accessed" form="unqualified"
        name="last-accessed" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Date and time on which the LDAP container was last queried, and the date on which the entity-count above was set. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlAdministeredOrganisations" id="com.tibco.n2.de.api.ldapXmlAdministeredOrganisations"
      abstract="false" mixed="false" name="XmlAdministeredOrganisations">
    <xsd:annotation>
      <xsd:documentation>Provides a list of organizations that can be administered from this LDAP container. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="guid" id="XmlAdministeredOrganisationsguid" form="unqualified"
        name="guid" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique identifier of the organization to be administered. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="XmlAdministeredOrganisationsname" form="unqualified"
        name="name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name of the organization to be administered. Only required when this element is used in a service response. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlCandidateQueryExport" id="com.tibco.n2.de.api.ldapXmlCandidateQueryExport"
      abstract="false" mixed="false" name="XmlCandidateQueryExport">
    <xsd:annotation>
      <xsd:documentation>Definition of a Candidate Query associated with the enclosing LDAP Container definition. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="entitytype" id="XmlCandidateQueryExportentity-type"
        form="unqualified" name="entity-type" type="tns3:OrganisationalEntityType"
        use="required">
      <xsd:annotation>
        <xsd:documentation>Enumerated value defining the type of the organization model entity. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="guid" id="XmlCandidateQueryExportguid" form="unqualified"
        name="guid" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Globally unique ID of the organization model entity.
(Although this value is unique across all entities, if the entity exists within more than one major version, it will share the same GUID.) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="basedn" id="XmlCandidateQueryExportbase-dn" form="unqualified"
        name="base-dn" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optionally provides a base DN that will be used to restrict the results. This base DN is relative, and in additon, to any base DN specified in the Primary LDAP Source on which the search will be performed. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="query" id="XmlCandidateQueryExportquery" form="unqualified"
        name="query" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The LDAP Query that will be combined with the query of the Primary LDAP Source to identify candidate Resources. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="searchscope" id="XmlCandidateQueryExportsearch-scope"
        form="unqualified" name="search-scope" type="tns5:XmlLdapSearchScope" use="required">
      <xsd:annotation>
        <xsd:documentation>Enumerated value indicating the scope on which an LDAP search is to be performed. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="dynamic" id="XmlCandidateQueryExportdynamic" default="false"
        form="unqualified" name="dynamic" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Indicates that this candidate query was generated as a part of a dynamic model generation. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapContainerExport" id="com.tibco.n2.de.api.ldapXmlLdapContainerExport"
      abstract="false" mixed="false" name="XmlLdapContainerExport">
    <xsd:annotation>
      <xsd:documentation>Definition of an LDAP container and any LDAP Source entries that it contains. Also includes any Candidate Query definitions associated with the LDAP Container. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns9:XmlLdapContainer">
        <xsd:sequence>
          <xsd:element ecore:name="candidatequery" id="XmlLdapContainerExportcandidate-query"
              form="unqualified" maxOccurs="unbounded" minOccurs="0" name="candidate-query"
              type="XmlCandidateQueryExport"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>