caseManagement_Recrutement/.processOut/pageflow/caseManagement_Recrutement.xpdl/de-resolver-service.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://resolver.api.de.n2.tibco.com" xmlns:de="http://api.de.n2.tibco.com" xmlns:orgdto="http://api.organisation.common.n2.tibco.com" targetNamespace="http://resolver.api.de.n2.tibco.com" version="1.0">
	<xs:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="organisation.xsd"/>
	<xs:import namespace="http://api.de.n2.tibco.com" schemaLocation="de.xsd"/>
	<xs:element name="validateEntity">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to validate the given model entity identifier.
        </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlDynOrgEntityId"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="validateEntityResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Response indicating whether the given model entity identifier was valid or not.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="0" name="resolved-entity" type="orgdto:XmlModelEntityId">
					<xs:annotation>
						<xs:documentation>If the given entity identifier is for a dynamic model-template entity, this value will be the GUID of the model entity to which the dynamic reference resolves.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="dynamic" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>True if the given entity identifier is for a dynamic model-template entity.
					If this value is not given, or false, the entity identifier is NOT for a dynamic model-template entity.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="valid" type="xs:boolean" use="required">
				<xs:annotation>
					<xs:documentation>True if the entity specified is valid.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute default="false" name="hasPushDestinations" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>True if the entity specified has any push destinations set.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEntityName">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion">
					<xs:annotation>
						<xs:documentation>Returns the name(s) of the entities identified by the given model
                        version and guid.</xs:documentation>
					</xs:annotation>
					<xs:sequence maxOccurs="unbounded" minOccurs="0">
						<xs:element name="guid" type="xs:string"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEntityNameResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Returns the name(s) of the entities identified by the given model
                version and guid.</xs:documentation>
			</xs:annotation>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="entity" type="orgdto:XmlParticipantId">
					<xs:annotation>
						<xs:documentation>Gives the summary information for each entity identified in the request.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lookupUser">
		<xs:annotation>
			<xs:documentation>Request element for lookupUser operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Request to verify that the name Resource entity is known to Directory
                Engine.
                The request can either be by name or LDAP entry. If the request is by LDAP entry, the
                caller may supply the LDAP Alias in order to reduce the search results.
                The caller may optionally specify that the response should include detailed information
                on those users that match the critieria (the default is to only return a count of
                the users that match the criteria.</xs:documentation>
			</xs:annotation>
			<xs:attribute default="-1" name="model-version" type="xs:int" use="optional">
				<xs:annotation>
					<xs:documentation>Major version number of the organization model from which the resources' associations ()position, group, capability, etc) are to be reported.
This attribute is only applied if the attribute "get-detail" is true.

If not specified, the default value will be the latest version of the organization model.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Login name to search against for a matching resource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ldap-alias" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>LDAP alias to search against for a matching resource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ldap-dn" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>LDAP DN to search against for a matching resource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute default="false" name="get-detail" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>Boolean value defining whether to return the details of each matching resource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="lookupUserResponse">
		<xs:annotation>
			<xs:documentation>Response element for lookupUser operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Describes the identified Resource entity(ies).</xs:documentation>
			</xs:annotation>
			<xs:sequence maxOccurs="unbounded" minOccurs="0">
				<xs:element name="detail" type="de:XmlEntityDetail">
					<xs:annotation>
						<xs:documentation>Details of each matching resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="user-count" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Number of resources that match the specified criteria.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="describeEntity">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
                    Request to describe the identified model entity.
                    Extends XmlOrgModelVersion which provides the org-model version attribute.
                </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion">
					<xs:sequence maxOccurs="1" minOccurs="0">
						<xs:element maxOccurs="unbounded" minOccurs="0" name="dynamic-id-attr" type="orgdto:XmlDynamicIdField">
							<xs:annotation>
								<xs:documentation>Provides a collection of name/value pairs that identify a Dynamic Organisational Instance.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="entity-type" type="orgdto:OrganisationalEntityType" use="optional">
						<xs:annotation>
							<xs:documentation>Identifies the category of the org-entity, and used to improve and validate the search.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="guid" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Globally, unique identifier for the org-entity. Although this value is unique across all entities, if the entity exists within more than one major version, it will share the same GUID.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="describeEntityResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Describes the identified model entity.
        </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="de:XmlEntityDetail"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="resolveResource">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to return a Resource from a collection contained by the identified
          model entity. If there is more than one Resource available, the given selection
          mode is used to determine which one should be selected.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="entity" type="orgdto:XmlDynOrgEntityId">
					<xs:annotation>
						<xs:documentation>Identifier for a participant, by either GUID or name. 

Extension of XmlOrgModelVersion, which provides the organization model version in which the participant resides.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="selection-mode" type="de:SelectionMode">
					<xs:annotation>
						<xs:documentation>If specified will override the selection mode determined by the entity.

If not specified the selection mode will be determined by the entity, If the entity does not contain a selection mode then the default will be ANY.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resolveResourceResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The identifier for the Resource determined by the request parameters.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element minOccurs="0" name="entity" type="orgdto:XmlParticipantId"/>
			</xs:sequence>
			<xs:attribute default="false" name="hasPushDestinations" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>True if the entity specified has any push destinations set.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="listResources">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to list the Resources contained by the identified model entity.
          A sub-set of the possible values can be returned using the "start-index"
          and "soft-limit" attributes.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="entity" type="orgdto:XmlDynOrgEntityId"/>
			</xs:sequence>
			<xs:attribute default="0" name="start-index" type="xs:int"/>
			<xs:attribute default="0" name="soft-limit" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="listResourcesResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of Resources associated with the identified model entity.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="resource" type="orgdto:XmlModelEntityId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resourcesRemaining">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Requests the number of resources remaining in a collection defined by a series of
          containing organisational entities, after the identified resources have been
          accounted for. For example, if an identified Position holds 10 Resources, two of
          which are identified in the request, the result will be 8.
          </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="resource" type="xs:string">
					<xs:annotation>
						<xs:documentation>List of resource GUID's that have already been identified.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="container" type="orgdto:XmlParticipantId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resourcesRemainingResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The number of Resources remaining in a defined collection, after an identified set
          of Resources have been accounted for.
        </xs:documentation>
			</xs:annotation>
			<xs:attribute name="remainder" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>The number of resources that the caller has not yet  identified.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="listAssociatedResources">
		<xs:annotation>
			<xs:documentation>Request element for listAssociatedResources operation. 

This operation returns the resources associated with the organisaional entity identified by its GUID and major model version. If no organization model version is specified (or -1) then the organization model with the greatest majorversion value is assumed.

If a resource is associated with more than one of the specified organization model entities, it will only be listed once. If the identified entity is:

- a group, the result will also include those resources associated with any sub-groups.

- an organization unit. the result will include those resources associated with all positions within that organization unit.

- a privilege, the result will include those resources that inherit that privilege from the groups, positions and organization units to which they are associated.
            
- a capability, the result will include those resources that hold that capability directly. It will not take into account the capabilities of the positions and groups with which the resources are associated</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion">
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="entity-guid" type="xs:string">
							<xs:annotation>
								<xs:documentation>Unique IDs of the organization model entities for whom associated resources should be returned.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute default="0" name="start-index" type="xs:int">
						<xs:annotation>
							<xs:documentation>Start position for the return data.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute default="0" name="soft-limit" type="xs:int">
						<xs:annotation>
							<xs:documentation>Maxmimum number of resources to return. (This value will not exceed any system imposed limit.)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="listAssociatedResourcesResponse">
		<xs:annotation>
			<xs:documentation>Response element for listAssociatedResources operation. 

For a group, the response also includes those resources associated with the group's  sub-groups. 

If a resource is associated with more than one of the specified organization model entities, it will only be listed once.
            
For an organization unit, the response includes those resources that hold positions in the organization unit. 

For a group, the response also includes those resources associated with the group's sub-groups</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of Resources associated with the identified model entity.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="resource" type="de:XmlLdapEntity">
					<xs:annotation>
						<xs:documentation>Details of each resource associated with the specified organization model entity.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getNamedEntity">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to retrieve a list of the entities, of a given type, identified by the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="participant" type="orgdto:XmlParticipantId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getNamedEntityResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of entity identifiers that match the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="entity" type="orgdto:XmlParticipantId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getNamedResource">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to list the Resources identified by the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:attribute default="-1" name="model-version" type="xs:int" use="optional">
				<xs:annotation>
					<xs:documentation>Major version number of the organization model from which the resources' associations ()position, group, capability, etc) are to be reported.

If not specified, the default value will be the latest version of the organization model.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Name uniquely identifying the resource whose details are to be returned.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="getNamedResourceResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of Resources with the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="resource" type="de:XmlEntityDetail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getResourceDetail">
		<xs:annotation>
			<xs:documentation>Request element for getResourceDetail operation. 

This operation returns the details of a resource identified by its GUID.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to retrieve a summary of the Groups, Positions, Privileges and Capabilities
          associated with the identified Resource.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="resource" type="orgdto:XmlModelEntityId">
					<xs:annotation>
						<xs:documentation>IDs of the resources for which details are required.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getResourceDetailResponse">
		<xs:annotation>
			<xs:documentation>Response element for getResourceDetail operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of Resources with the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="resource" type="de:XmlResourceDetail">
					<xs:annotation>
						<xs:documentation>Details of the specified resource(s).</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUndeliveredEntity">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="de:EmptyRequest"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUndeliveredEntityResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlModelEntityId"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
