caseManagement_Recrutement/.processOut/pageflow/caseManagement_Recrutement.xpdl/organisation.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://api.organisation.common.n2.tibco.com" targetNamespace="http://api.organisation.common.n2.tibco.com" version="1.0">
	<xs:simpleType name="OrganisationalEntityType">
		<xs:annotation>
			<xs:documentation>Definition of the available organizational entity types.

IMPORTANT:Do not delete or re-position any of the enumeration values. If a value must be removed, simply replace it with a "dummy" value.
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORGANIZATION"/>
			<xs:enumeration value="ORGANIZATIONAL_UNIT"/>
			<xs:enumeration value="GROUP"/>
			<xs:enumeration value="POSITION"/>
			<xs:enumeration value="PRIVILEGE"/>
			<xs:enumeration value="CAPABILITY"/>
			<xs:enumeration value="RESOURCE"/>
			<xs:enumeration value="LOCATION"/>
			<xs:enumeration value="ORGANIZATION_TYPE"/>
			<xs:enumeration value="ORGANIZATIONAL_UNIT_TYPE"/>
			<xs:enumeration value="POSITION_TYPE"/>
			<xs:enumeration value="LOCATION_TYPE"/>
			<xs:enumeration value="ORGUNIT_RELATIONSHIP_TYPE"/>
			<xs:enumeration value="POSITION_HELD"/>
			<xs:enumeration value="ORGUNIT_RELATIONSHIP"/>
			<xs:enumeration value="ORGUNIT_FEATURE"/>
			<xs:enumeration value="POSITION_FEATURE"/>
			<xs:enumeration value="PARAMETER_DESCRIPTOR"/>
			<xs:enumeration value="CANDIDATE_QUERY"/>
			<xs:enumeration value="MODEL_ORG_UNIT"/>
			<xs:enumeration value="MODEL_POSITION"/>
			<xs:enumeration value="QUERY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="XmlOrgModelVersion">
		<xs:annotation>
			<xs:documentation>Major version number of the organization model.</xs:documentation>
		</xs:annotation>
		<xs:attribute default="-1" name="model-version" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Major version number of the organization model in which an organization model entity resides. 

If not specified, the default value will be the latest version of the organization model.

(Version numbers must be compatible with, and conform to, the OSGi version number schema. For Directory Engine, only the major part of the version number is significant.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="XmlDynamicIdField">
		<xs:annotation>
			<xs:documentation>Forms optional part of a XmlParticipantId to support the use of Dynamic Participants.
When the Participant is part of a Dynamic Organisation Template, the identity must carry additional name/value pairs in order to identify the Dynamic Organisationl Instance in which the entity is located.
The names of these additional attributes are defined on the Dynamic Organisation Template, at design time.
Although the values are optional, if no value is given it will only match against a Dynamic Organisationl Instance with a null value for the same attribute.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:token" use="required"/>
		<xs:attribute name="value" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="XmlParticipantId">
		<xs:annotation>
			<xs:documentation>Identifier for a participant, by either GUID or name. 

Extension of XmlOrgModelVersion, which provides the organization model version in which the participant resides.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlOrgModelVersion">
				<xs:sequence maxOccurs="1">
					<xs:element maxOccurs="1" minOccurs="0" name="guid" type="xs:string">
						<xs:annotation>
							<xs:documentation>Globally unique identifier for the organization model entity. 

This value is unique across all entities. However, if the entity exists within more than one major organization model version, it will share the same GUID.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation>Name of the organization model entity.

An entity's name will be unique within its entity type and organization model version.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="dynamic-id-attr" type="XmlDynamicIdField">
						<xs:annotation>
							<xs:documentation>Provides a collection of name/value pairs that identify a Dynamic Organisational Instance.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="entity-type" type="OrganisationalEntityType" use="optional">
					<xs:annotation>
						<xs:documentation>Category of this organization model entity (used to improve and validate the search).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="qualifier" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Qualifier value. This is only applicable in certain circumstances, and only to entities of the entity-type PRIVILEGE or CAPABILITY. 

These entities can have an association with other entities - for example, a resource may hold many capbilities a position may have many privileges. Those associations can have a qualifying value, according to their nature, to differentiate them. 

For example, the privilege to sign off a purchase order may be qualified with the maximum amount for which the purchase order is made.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlModelEntityId">
		<xs:annotation>
			<xs:documentation>Unique identifier for an organization model entity.

Used, and extended, throughout Directory Engine to identify an organization model entity. Extends XmlOrgModelVersion, which provides the organization model version attribute.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlOrgModelVersion">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="qualifierSet">
						<xs:annotation>
							<xs:documentation>
An optional collection of qualifying values. This overrides any qualifier attribute set on the parent element, allowing more than one value to be set. Multiple values will only be used for qualifiers of type "enumset".</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="value" type="xs:string" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="entity-type" type="OrganisationalEntityType" use="required">
					<xs:annotation>
						<xs:documentation>Enumerated value defining the type of the organization model entity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="guid" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Globally unique ID of the organization model entity.

(Although this value is unique across all entities, if the entity exists within more than one major version, it will share the same GUID.)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="qualifier" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Only applicable in certain circumstances, and only to organization model entities whose entity-type is PRIVILEGE or CAPABILITY. These entities can have an association with other entities - for example, a resource may hold many capabilities, or a position may have many privileges. 

These associations can have a qualifying value, according to their nature, to differentiate them. For example, the PRIVILEGE to sign off a purchase order may be qualified with the maximum amount that can be signed off.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlDynOrgEntityId">
		<xs:complexContent>
			<xs:extension base="XmlModelEntityId">
				<xs:sequence maxOccurs="1" minOccurs="0">
					<xs:element maxOccurs="unbounded" minOccurs="0" name="dynamic-id-attr" type="XmlDynamicIdField">
						<xs:annotation>
							<xs:documentation>Provides a collection of name/value pairs that identify a Dynamic Organisational Instance.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlCalendarRef">
		<xs:annotation>
			<xs:documentation>Identifies the assignment of a calendar to an organizational entity (group, position, organization unit, or organization).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlOrgModelVersion">
				<xs:attribute name="calendar-alias" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>The alias by which the calendar is referenced by the organization model entity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="entity-type" type="OrganisationalEntityType" use="required">
					<xs:annotation>
						<xs:documentation>The type identifier of the organization model entity to which the calendar reference belongs.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="entity-guid" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>The unique identifier of the organization model entity to which the calendar reference belongs.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="entity-name" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>The name of the organization model entity to which the calendar reference belongs.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="entity-label" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>The display name of the organization model entity to which the calendar reference belongs. If this is not present, the entity-name value is used for display.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlCalendarAssignment">
		<xs:annotation>
			<xs:documentation>Identifies the assignment of the given calendar alias to the identified organization model entity.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlOrgModelVersion">
				<xs:attribute name="calendar-alias" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>The calendar alias to be assigned to the organization model entity. If not specified, or an empty string, any existing calendar assignment will be removed.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="entity-guid" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>The unique identifier of the organization model entity to which the calendar reference is to be assigned.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlResourceQuery">
		<xs:annotation>
			<xs:documentation>Base type for the specification of a resource query.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlOrgModelVersion">
				<xs:sequence>
					<xs:element name="query" type="xs:string">
						<xs:annotation>
							<xs:documentation>Resource query to be executed. The query must conform to the Resource Query Language (RQL) specification. See the product documentation for detailed information about RQL syntax.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlExecuteQuery">
		<xs:annotation>
			<xs:documentation>Definition of an executable resource query, used to identify a collection of resources that match the criteria specified in the query.

Extension of XmlOrgModelVersion, which provides the organization model version in which the resources to be queried reside.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlResourceQuery">
				<xs:attribute default="1" name="implementation" type="xs:int">
					<xs:annotation>
						<xs:documentation>Identifies the implementation version, and governs what style of response will be generated. This allows for the XML schema of the response to vary but remain backward compatible.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="singleRandomResult" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>Boolean value specifying whether the query should return a single, randomly selected user from the result set (TRUE), or all the resources in the result set (FALSE).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
